<nav class="navbar nav-overlay">
  <div class="container">
    <div class="row no-gutters w-100">
      <div class="mx-auto">
        <a href="/" class="navbar-brand">
          <amp-img
            class="logo mt-4"
            src="{{ site.data.webpack['logo.svg'] }}"
            width="219"
            height="40"
            alt="Red Ant logo"
            layout="responsive"
          >
          </amp-img>
        </a>
      </div>
    </div>
    <div class="row no-gutters w-100">
      <div class="nav-links mx-auto">
        <ul class="links list-inline mt-4">
          <li class="list-inline-item">
            <a href="/" class="home-link">Home</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/ruby-on-rails-code-review/">Get started</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/about/" class="about-link">About us</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/portfolio/" class="portfolio-link">Portfolio</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/technology/">Technology</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/blog/" class="news-and-ideas-link">Blog</a>
          </li>
          <li class="list-inline-item text-gray">|</li>
          <li class="list-inline-item">
            <a href="/contact-us/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
