---
layout: default
permalink: /agile/
title: Ruby on Rails Sydney - Red Ant
---

<header id="section-intro" class="ga-section dark-header padded-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 py-3">
        <h1 class="text-x-large">Agile Project Management<br>and Development</h1>
        <hr>
      </div>
    </div>
  </div>
</header>

<div class="container content">
  <p>Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.</p>
  <p>As an Agile team, we focus on delivering working software rather than comprehensive documentation (because let’s be honest, there’s no point in creating massive spec documents that no one reads). Agile also gives us a mechanism for ongoing collaboration with our customers.</p>
  <p>Some of our favourite Agile processes and tools include:</p>
  <ul>
    <li>Roadmapping – to map out features, goals and timeframes for projects.</li>
    <li>Standup - if these don't happen, the project probably won't.</li>
    <li>JIRA – to keep track of all our tasks and assign priorities to them.</li>
    <li>Sprints – breaking down larger projects into smaller chunks of work means we can release more features more frequently.</li>
    <li>Wallboards – these tell us, at a glance, who’s working on what this week and whether any release deadlines are coming up.</li>
    <li>Retrospectives – we do a quick review at the end of each sprint or project and make any necessary adjustments for the next sprint.</li>
  </ul>
</div>

<div class="masonry-full-width">
  <div id="blog-posts" class="container">
    {% for post in site.categories.agile %}
      {% include post-tile.html %}
    {% endfor %}
  </div>
</div>
