---
layout: default
permalink: /agile/
title: Ruby on Rails Sydney - Red Ant
---

<header class="blog-header blog-header--agile">
  <div class="blog-navbar">
    <div class="container">
      <div class="links">
        <a href="#" class="pri">News & Ideas</a>
        <a href="#">Project Management</a>
        <a href="#">Marketing</a>
        <a href="#">Design</a>
        <a href="#" class="active">Agile</a>
      </div>
    </div>
  </div>

  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">agile</h1>
          <hr>
          <p>
            Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="py-5 container content">
  <p>
    Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.
  </p>
  <p>
    As an Agile team, we focus on delivering working software rather than comprehensive documentation (because let’s be honest, there’s no point in creating massive spec documents that no one reads). Agile also gives us a mechanism for ongoing collaboration with our customers.
  </p>
  <h5>Some of our favourite Agile processes and tools include:</h5>

  <div class="row pt-3">
    <div class="col-6 col-md-4">
      <p>
        <b>Roadmapping</b> - to map out features, goals and timeframes for projects.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Standup</b> - if these don't happen, the project probably won't.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>JIRA</b> - to keep track of all our tasks and assign priorities to them.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Sprints</b> - breaking down larger projects into smaller chunks of work means we can release more features more frequently.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Wallboards</b> - these tell us, at a glance, who’s working on what this week and whether any release deadlines are coming up.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Retrospectives</b> - we do a quick review at the end of each sprint or project and make any necessary adjustments for the next sprint.
      </p>
    </div>
  </div>
</div>

<div class="bg-gray-light">
  <section class="py-5 container">
    {% for post in site.categories.agile limit:1 %}
      <div class="ga-section card mb-3">
        <a href="{{ post.url }}" class="portfolio-tile bg-white text-black mb-0">
          <div class="row">
            {% if post.image.small %}
              <div
                class="col-8 post-image-preview"
                style="background-image: url('{{post.image.small}}')">
              </div>

            <div class="col-4 p-3">
            {% else %}
            <div class="p-3">
            {% endif %}

              <h5>{{ post.title }}</h5>

              <p class="post-content">
                {% if post.excerpt.short %}
                  {{ post.excerpt.short }}
                {% endif %}
              </p>

              <div class="tile-eyebrow">
                <small class="text-muted">
                  <b>{{ post.author }}</b>
                  <br>
                  {{ post.date | date_to_string }} - {{ post.time }}
                </small>
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

    <div id="macy-container">
      {% assign postLimit = 20 %}
      {% for post in site.categories.agile offset:1 limit:postLimit %}
        {% include post-card.html %}
      {% endfor %}
    </div>
  </section>
</div>

{% assign postCount = site.categories.agile | size %}
{% if postCount > postLimit %}
  <div class="container text-center py-5">
    <a href="">
      <h5 class="mb-0">Show more posts</h5>
    </a>
  </div>
{% endif %}
