---
layout: default
permalink: /agile/
title: Agile Project Management - Ruby on Rails Sydney - Red Ant
description: Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.
---

<header id="section-intro" class="blog-header blog-header--agile">
  {% include blog-nav.html active="agile" %}

  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">agile</h1>
          <hr>
          <p>
            Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="py-5 container content">
  <p>
    Agile is a project management and development process that promotes adaptive planning, evolutionary development and delivery, and rapid flexible response to change. We think it’s pretty great.
  </p>
  <p>
    As an Agile team, we focus on delivering working software rather than comprehensive documentation (because let’s be honest, there’s no point in creating massive spec documents that no one reads). Agile also gives us a mechanism for ongoing collaboration with our customers.
  </p>
  <h5>Some of our favourite Agile processes and tools include:</h5>

  <div class="row pt-3">
    <div class="col-6 col-md-4">
      <p>
        <b>Roadmapping</b> - to map out features, goals and timeframes for projects.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Standup</b> - if these don't happen, the project probably won't.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>JIRA</b> - to keep track of all our tasks and assign priorities to them.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Sprints</b> - breaking down larger projects into smaller chunks of work means we can release more features more frequently.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Wallboards</b> - these tell us, at a glance, who’s working on what this week and whether any release deadlines are coming up.
      </p>
    </div>

    <div class="col-6 col-md-4">
      <p>
        <b>Retrospectives</b> - we do a quick review at the end of each sprint or project and make any necessary adjustments for the next sprint.
      </p>
    </div>
  </div>
</div>

{% include posts-by-category.html category="agile" %}
