---
layout: default
permalink: /blog/
title: Ruby on Rails Sydney - Red Ant - Red Ant
---
<header class="blog-header blog-header--agile">
  {% include blog-nav.html active="blog" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">news and ideas</h1>
          <hr>
          <p>(all posts, both type=news and type=ideas)</p>
          <p>Description coming soon</p>
        </div>
      </div>
    </div>
  </div>
</header>
{% include posts.html %}
