---
layout: default
permalink: /ecommerce/
title: E-Commerce
description: E-Commerce posts
keywords: E-Commerce
---
<header id="section-intro" class="blog-header blog-header--agile">
  {% include blog-nav.html active="ecommerce" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">E-Commerce</h1>
          <hr>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container content">
  <p></p><p>We’ve worked on several eCommerce projects for our clients, all with varying requirements and issues to solve.</p>
  <ul>
  	<li><strong>Integrated eCommerce</strong> – for a site like 12WBT, the eCommerce is integrated closely with the membership process, rather than living in a separate shop area.</li>
	<li><strong>Segregated eCommerce</strong> – for other projects, like beautyheaven, the eCommerce elements need to have a separate shop area.</li>
  </ul>
  <p>In addition to selling stuff, a client’s eCommerce project might involve other things like coupons, a points/rewards system, or API integration. It’s important to weigh up the benefits of building something new versus adapting a SAAS system, so often we’ll review and explore existing options before deciding on an eCommerce strategy that targets your business needs.</p>
</div>

{% include posts-by-category.html category="ecommerce" %}
