---
layout: default
permalink: /
title: Sydney Ruby on Rails Technical Agency
description: Red Ant is a Sydney Technical Agency. We create & build exceptional digital products. These live as web sites, in mobile apps, and in social networks.
class: homepage
hide_blurb: true
---

<header
  id="section-intro"
  class="ga-section padded-section canvas-section hero-section d-flex align-items-center"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 data-aos="fade-right" data-aos-once="true">
          We design &amp; build amazing digital platforms.
        </h1>
        <hr data-aos="fade-right" data-aos-once="true" data-aos-delay="200" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <p
          class="text-lg"
          data-aos="fade-right"
          data-aos-once="true"
          data-aos-delay="400"
        >
          We’re a technical agency that works on product, UX, development and
          devops for some very successful businesses for over 20 years.
        </p>
      </div>
    </div>
    <div data-aos="fade-right" data-aos-once="true" data-aos-delay="600">
      <div class="row pt-5">
        <div class="col-md-4 pb-3">
          <a
            class="btn btn-primary w-100"
            href="/free-initial-consult-code-review/"
          >
            <i class="fa fa-comments"></i> Free initial consult
          </a>
        </div>
        <div class="col-md-4 pb-3">
          <a class="btn btn-primary w-100" href="/ruby-on-rails-code-review/">
            <i class="fa fa-code"></i> Code review
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section
  id="section-platforms"
  class="ga-section bg-pattern-dot padded-section text-lg"
>
  <div class="container">
    <div class="row">
      <div class="col-12 py-3">
        <p>
          Red Ant is a leading technical agency, based in Sydney with very
          experienced developers. We provide a blended team of UX, strategy and
          engineers.
        </p>
        <p>
          Our team is Sydney based rather than
          <a href="/software-development/hiring-a-web-development-team"
            >offshore or remote</a
          >. We'll work closely to deliver and iterate your project.
        </p>
        <p>
          Our team of designers, developers and strategists will help you build
          a better platform or product. We use Open Source technology (<a
            href="/technology/ruby-on-rails/"
            >Ruby on Rails</a
          >, <a href="/technology/reactJS/">React</a>) that are proven to be
          robust in high performing apps and websites.
        </p>
        <p>
          We have refined our development techniques and process over the past
          25 years. We have created tools like
          <a href="/portfolio/project-summary-tool/">Projectt</a> that give you
          ultimate transparency into your project progress. Great processes
          combined with deep experience and a local team means greater
          efficiency and a development team you’ll love working with.
        </p>

        <hr class="my-5" />

        <p class="mb-0">
          There are several ways that we can work together. Some of our clients
          start on one, and then change to another.
        </p>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                  <div class="number mr-2">1</div>
                  <h5 class="card-title mb-0">
                    Advise
                  </h5>
                </div>
                <p class="card-text pt-3">
                  We can give you advice and a blueprint for how to proceed for
                  the rest of your project. Best practices, the right tools, and
                  some technology options. We also do specific reviews such as
                  <a href="/ruby-on-rails-code-review/">code reviews</a>,
                  product design, security and process.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                  <div class="number mr-2">2</div>
                  <h5 class="card-title mb-0">
                    Assist
                  </h5>
                </div>
                <p class="card-text pt-3">
                  Work with your existing team to
                  <a href="/ruby-on-rails-code-review/">review code</a>, check
                  for things such as security and performance, and manage the
                  technical work.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                  <div class="number mr-2">3</div>
                  <h5 class="card-title mb-0">
                    Do
                  </h5>
                </div>
                <p class="card-text pt-3">
                  We can provide a technical team to deliver the project, using
                  our engineers. We can help develop, launch and support your
                  project.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include section-stuff-we-made.html %} {% include section-companies.html %} {%
include section-ruby-rails.html %} {% include section-code-review.html %}

<section
  id="section-how-we-do-it"
  class="ga-section navbar-aos padded-section how-section"
>
  <div class="container py-5 py-sm-0">
    <div class="row">
      <div class="col">
        <h4>How we do it</h4>
      </div>
    </div>

    <div class="row mt-4 text-md">
      <div class="col-md-8">
        <p>
          We've been around for over 20 years. We're super cross functional - we
          provide a blended team of UX, strategy and technology.
          <a href="/software-development/hiring-a-web-development-team"
            >Local not offshore</a
          >.
        </p>
        <p>
          Our tech stack is Open Source, and we use Agile to manage projects. We
          also have our pretty nifty
          <a href="/portfolio/project-summary-tool/"
            >project tracking platform</a
          >
          that we’ve created to make us more efficient. Real time progress
          tracking, complete sprint management and project cadence.
        </p>
        <p>
          The things we make don’t just look good. They need to perform
          extremely well. We’re no slouch in that department - our team is very
          experienced on complex, high traffic projects. We use a lot of
          <a href="/technology/ruby-on-rails/">Ruby on Rails</a> (the same
          framework that is used by companies like AirBnB, Kickstarter and
          Twitter). Quite simply it’s fast, powerful, and nice to develop with.
          It plays well with other technologies, and is perfect for Agile work
          practices such as rapid prototyping.
        </p>
      </div>

      <div class="col-md-4">
        <ul class="about-us-list">
          <li class="red" data-aos="fade-up" data-aos-once="true">
            <a href="/software-development/hiring-a-web-development-team"
              >Local development team</a
            >, working together to deliver amazing things
          </li>
          <li
            class="green"
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-delay="200"
          >
            We build things, as well as "glue together" other platforms or
            <a href="/technology/salesforce-marketing-cloud/"
              >tools such as Salesforce</a
            >
          </li>
          <li
            class="blue"
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-delay="400"
          >
            Very experienced, with strong process and Ops
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
