---
layout: default
permalink: /
title: Sydney Ruby on Rails Technical Agency
description: Red Ant is a Sydney Technical Agency. We create & build exceptional digital products. These live as web sites, in mobile apps, and in social networks.
class: homepage
hide_blurb: true
---

<header id="section-intro" class="ga-section padded-section canvas-section hero-section d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 data-aos="fade-right" data-aos-once="true">
          We design &amp; build amazing digital platforms.
        </h1>
        <hr data-aos="fade-right" data-aos-once="true" data-aos-delay="200">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2">
        <p class="text-lg" data-aos="fade-right" data-aos-once="true" data-aos-delay="400">
          We’re a technical agency that works on product, UX, development and devops for some very successful businesses for over 20 years.
        </p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 pb-3">
        <a class="btn btn-primary w-100" href="/free-initial-consult-code-review/">
          <i class="fa fa-comments"></i> Free initial consult
        </a>
      </div>
      <div class="col-md-4 pb-3">
        <a class="btn btn-primary w-100" href="/ruby-on-rails-code-review/">
          <i class="fa fa-code"></i> In depth code review
        </a>
      </div>
    </div>
  </div>
</header>

<section id="section-platforms" class="ga-section bg-pattern-dot padded-section text-lg">
  <div class="container">
    <div class="row">
      <div class="col-12 py-3">
          <p>
            Red Ant is a leading technical agency, based in Sydney with very experienced developers. We provide a blended team of UX, strategy and engineers. Our team is here rather than <a href="/software-development/finding-the-right-developer-offshore-local-freelance">offshore or remote</a>. We'll work with you to deliver and iterate your project. Our processes tools like <a href="/portfolio/project-summary-tool/">Projectt</a> will track progress and budget. Because our process (from estimate to delivery) is very mature, you'll get a very efficient team.
          </p>
          <p class="mb-0">
            We use Open Source technology (<a href="/technology/ruby-on-rails/">Ruby on Rails</a>, <a href="/technology/reactJS/">React</a>), and Agile. Our team of designers, developers and strategists will help you build a better platform or product.<br/><br/>
          </p>
          <p class="mb-0">
            And we guarantee our work.
          </p>
      </div>
    </div>
  </div>
</section>

{% include section-stuff-we-made.html %}
{% include section-companies.html %}
{% include section-ruby-rails.html %}
{% include section-code-review.html %}

<section id="section-how-we-do-it" class="ga-section navbar-aos padded-section how-section">
  <div class="container py-5 py-sm-0">
    <div class="row">
      <div class="col">
        <h4>How we do it</h4>
      </div>
    </div>

    <div class="row mt-4 text-md">
      <div class="col-md-8">
        <p>
          We've been around for over 20 years. We're super cross functional - we provide a blended team of UX, strategy and technology. <a href="/software-development/finding-the-right-developer-offshore-local-freelance/">Local not offshore</a>.
        </p>
        <p>
          Our tech stack is Open Source, and we use Agile to manage projects. We also have our pretty nifty <a href="/portfolio/project-summary-tool/">project tracking platform</a> that we’ve created to make us more efficient. Real time progress tracking, complete sprint management and project cadence.
        </p>
        <p>
          The things we make don’t just look good. They need to perform extremely well. We’re no slouch in that department - our team is very experienced on complex, high traffic projects. We use a lot of <a href="/technology/ruby-on-rails/">Ruby on Rails</a> (the same framework that is used by companies like AirBnB, Kickstarter and Twitter). Quite simply it’s fast, powerful, and nice to develop with. It plays well with other technologies, and is perfect for Agile work practices such as rapid prototyping.
        </p>
      </div>

      <div class="col-md-4">
        <ul class="about-us-list">
          <li class="red" data-aos="fade-up" data-aos-once="true">
            <a href="/software-development/finding-the-right-developer-offshore-local-freelance/">Local development team</a>, working together to deliver amazing things
          </li>
          <li class="green" data-aos="fade-up" data-aos-once="true" data-aos-delay="200">
            We build things, as well as "glue together" other platforms or <a href="/technology/salesforce-marketing-cloud/">tools such as Salesforce</a>
          </li>
          <li class="blue" data-aos="fade-up" data-aos-once="true" data-aos-delay="400">
            Very experienced, with strong process and Ops
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
