---
layout: default
permalink: /how-we-do/
title: How we do stuff
description: How we do stuff
keywords: How we do stuff
---
<header id="section-intro" class="blog-header blog-header--agile">
  {% include blog-nav.html active="how-we-do" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">How we do stuff</h1>
          <hr>
          <p>One of the things we focus on is developing Digital Products. These are websites that provide some form of utility to users - these allow people to “do” stuff. Unlike a static site, which might be used for marketing a product or service, these sites <strong>are themselves the product or service</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include posts-by-category.html category="how-we-do" %}
