---
layout: default
permalink: /lean-development/
title: Ruby on Rails Sydney - Red Ant - Red Ant
---
<header id="section-intro" class="blog-header blog-header--agile">
  {% include blog-nav.html active="lean-development" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Lean Development</h1>
          <hr>
          <p>In a nutshell, Lean Development is about eliminating waste, maximising learnings, empowering the team and building integrity into projects. Lean development and the agile methodology go hand in hand in a lot of ways. For example, lean development acknowledges that uncertainty is a natural part of development, and the agile framework allows for constant adjustments as events unfold and circumstances change. Perfect.</p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include posts-by-category.html category="lean-development" %}
