---
layout: default
permalink: /mobile/
title: Mobile
description: At Red Ant, we have a “mobile first” approach to projects.
keywords: mobile
---
<header id="section-intro" class="blog-header blog-header--agile">
{% include blog-nav.html active="mobile" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Mobile</h1>
          <hr>
          <p>We take a “mobile first” approach to projects. Mobile technology moves quickly and the number of different devices is growing. Users’ expectation of flawless, continuous service has never been higher.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="py-4">
  <div class="container content">
    <p></p>
    <p>To deal with this, we have been developing a mobile testing framework that allows us to test our work across a number of different devices automatically. A fresh version of the site is published, and then each of the target devices runs through a series of end-to-end browser tests using virtual users.</p>
    <p>This testing framework allows us to quickly identify issues and manage an ever-growing list of supported devices.</p>
  </div>
</section>

{% include posts-by-category.html category="mobile" %}
