---
layout: default
permalink: /news/
title: News
description: What’s happening in the world of Red Ant.
keywords: news
---
<header id="section-intro" class="blog-header blog-header--agile">
{% include blog-nav.html active="news" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">News</h1>
          <hr>
          <p>What’s happening in the world of Red Ant.</p>
        </div>
      </div>
    </div>
  </div>
</header>


{% include posts.html type="news" %}
