---
layout: default
permalink: /our-work/
title: Our Work
description: Our Work
keywords: Our Work
redirect_from:
- /work
- /our-works
- /work/
---
<header id="section-intro" class="blog-header blog-header--agile">
{% include blog-nav.html active="our-work" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Work Updates</h1>
          <hr>
          <p>Updates on some of our work. For a more comprehensive list please take a look at <a href="/portfolio">our Portfolio</a></p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include posts-by-category.html category="our-work" %}
