---
layout: default
permalink: /portfolio/
title: Our Porfolio
description: It isn’t just good design, or a good user experience.  Great digital products come about when these blend together.
redirect_from:
  - /portfolio
---

<section id="section-portfolio-list" class="section-hero">
  <div class="container">
    <h1>Portfolio</h1>
    <div id="macy-container" data-columns="2" data-columns-small="1">
      {% for slug in site.data.portfolio.order %} {% assign pages = site.pages |
      where:'slug', slug %} {% for page in pages %}
      <div
        id="section-card-{{ page.title | downcase | replace: ' ', '-' }}"
        class="ga-section card mb-1"
      >
        <a
          href="{{ page.dir }}"
          class="portfolio-tile bg-gray bg-{{ page.theme }} text-black"
        >
          <div class="content mb-2">
            <h2 class="text-{{ page.theme }}">{{ page.title }}</h2>
            <p class="my-4 tagline">{{ page.tagline }}</p>
            <p>{{ page.description }}</p>
          </div>
          <div class="svg-container">
            <div class="svg-wrapper">
              {% if page.project_type == 'mobile' %} {% include
              svg/preview-mobile.svg slug=page.slug title=page.title %} {% else
              %} {% include svg/preview-left.svg slug=page.slug title=page.title
              img_height=page.desktop_img_height %} {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</section>
