---
layout: default
permalink: /portfolio/
---

<header class="dark-header padded-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="text-x-large pb-3">stuff we<br />have made</h1>
        <hr>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row">
      <!-- Huggies -->
      <div class="col-md-6">
        <a href="/project/huggies/" class="portfolio-tile bg-huggies">
          <h2>Huggies</h2>
          <div class="hr-wrapper"><hr class="inverse"></div>
          <h4>A place for parents to learn &amp; share</h4>
          <p>
            Need to take your customer engagement to the next level? Take a look at how Huggies is dominating the pregnancy and parenting category by building a site with over 42,000 pages of content, plus lots of interactive tools and member features for over 600,000 members.
          </p>
          <div class="svg-wrapper">
            {% include project-svg.html desktop_image="/assets/huggies-455x719.png" mobile_image="/assets/huggies-185x370.png" %}
          </div>
        </a>
      </div>
      <!-- /Huggies -->

      <!-- 12wbt -->
      <div class="col-md-6">
        <a href="/project/huggies/" class="portfolio-tile bg-12wbt">
          <h2>12WBT</h2>
          <div class="hr-wrapper"><hr class="inverse"></div>
          <h4>A place for parents to learn &amp; share</h4>
          <p>
            Need to take your customer engagement to the next level? Take a look at how Huggies is dominating the pregnancy and parenting category by building a site with over 42,000 pages of content, plus lots of interactive tools and member features for over 600,000 members.
          </p>
          <div class="svg-wrapper">
            {% include project-svg.html desktop_image="/assets/12wbt-455x719.png" mobile_image="/assets/12wbt-185x329.png" %}
          </div>
        </a>
      </div>
      <!-- /12wbt -->
    </div>
  </div>
</section>
