---
layout: default
permalink: /portfolio/
---

<header class="dark-header padded-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="text-x-large pb-3">stuff we<br />have made</h1>
        <hr>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row">
      {% for slug in site.data.portfolio.order %}
        {% assign pages = site.pages | where:'slug', slug %}
        {% for doc in pages %}
          <div class="col-md-6 ">
            <a href="{{ doc.permalink }}" class="portfolio-tile bg-gray bg-{{ doc.theme }}">
              <div class="content">
                <h2>{{ doc.title }}</h2>
                <div class="hr-wrapper"><hr class="inverse"></div>
                <h5 class="my-4">{{ doc.tagline }}</h5>
                <p class="mb-0 description">{{ doc.description }}</p>
              </div>
              <div class="svg-container">
                <div class="svg-wrapper">
                  {% include svg/project-header.html project=doc.slug %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
