---
layout: default
permalink: /red-ant-stuff/
title: Ruby on Rails Sydney - Red Ant - Red Ant
description: What’s happening in the world of Red Ant.
redirect_from:
- /red-ant
---
<header id="section-intro" class="blog-header blog-header--agile">
{% include blog-nav.html active="red-ant-stuff" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Red Ant stuff</h1>
          <hr>
          <p>Everything you ever wanted to know about Red Ant, plus some stuff you probably didn’t. Like what is up with the Flying Toasters?</p>
        </div>
      </div>
    </div>
  </div>
</header>



{% include posts-by-category.html category="red-ant-stuff" %}
