---
layout: default
permalink: /ruby-on-rails-devops/
title: Ruby on Rails Devops - Ruby on Rails Sydney - Red Ant
description: Devops and Ruby on Rails blog posts
---
<header id="section-intro" class="blog-header blog-header--agile">
  {% include blog-nav.html active="ruby-on-rails-devops" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Devops and Ruby on Rails</h1>
          <hr>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include posts-by-category.html category="ruby-on-rails-devops" %}
