---
layout: default
permalink: /ruby-on-rails/
title: Ideas about using Ruby on Rails by Red Ant
description: Ideas about using Ruby on Rails by Red Ant
keywords: Ruby on Rails
redirect_from:
- /ruby
- /rubyonrails
---
<header id="section-intro" class="blog-header blog-header--agile">
{% include blog-nav.html active="ruby-on-rails" %}
  <div class="blog-intro">
    <div class="container">
      <div class="middle">
        <div class="boom">
          <h1 class="slash">Ruby on Rails</h1>
          <hr>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</header>

{% include posts-by-category.html category="ruby-on-rails" %}
