---
layout: default
permalink: /ruby-on-rails/
title: Ideas about using Ruby on Rails by Red Ant
description: Ideas about using Ruby on Rails by Red Ant
keywords: Ruby on Rails
---

<header id="section-intro" class="ga-section dark-header padded-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 py-3">
        <h1 class="text-x-large">Ruby on Rails</h1>
        <hr>
      </div>
    </div>
  </div>
</header>

<div class="masonry-full-width">
  <div id="blog-posts" class="container">
    {% for post in site.categories.ruby-on-rails %}
      {% include post-tile.html %}
    {% endfor %}
  </div>
</div>
