---
layout: default
permalink: /technology/
title: Technologies and Integrations we work with
description: Technologies we work in - Ruby on Rails, React, Javascript, Swift iOS
keywords: Technologies, Ruby on Rails, React, Javascript, Swift iOS
---

<header class="ga-section dark-header padded-section bg-code-review">
  <div class="container">
    <div class="row">
      <div class="col-md-9 py-3">
        <h1 class="text-xl py-3">Technology and Integrations</h1>
        <hr />
        <p class="text-md">
          Technologies and Integrations we work with
        </p>
      </div>
    </div>
  </div>
</header>

<section class="ga-section py-5">
  <div class="container">
    <div id="macy-container" data-columns="3" data-columns-small="2">
      {% for slug in site.data.technology.order %} {% assign pages = site.pages
      | where:'slug', slug %} {% for page in pages %}
      <div class="portfolio-tile text-black mb-0">
        <div class="row content px-2 mb-2">
          <div class="col-4 col-sm-12">
            <a href="{{ page.url }}" class="mb-0">
              <div
                class="technology-image-preview rounded-circle mb-4"
                style="background-image: url('{{ page.image }}'); margin: auto"
              ></div>
            </a>
          </div>
          <div class="col-8 col-sm-12">
            <a href="{{ page.url }}" class="portfolio-tile text-black mb-3">
              <h5 class="mb-0">{{ page.title }}</h5>
              <small class="text-muted">{{page.type}}</small>
            </a>
            <p>{{ page.listing_description }}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</section>
