---
layout: default
permalink: /technology/
title: Technologies and Integrations we work with
description: Technologies we work in - Ruby on Rails, React, Javascript, Swift iOS
keywords: Technologies, Ruby on Rails, React, Javascript, Swift iOS
hide_blurb: true
---

<header
  id="section-intro"
  class="ga-section bg-gray-light default-padding bg-technology"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 py-3">
        <h1 class="py-3">Technology and Integrations</h1>
        <p>
          Technologies and Integrations we work with
        </p>
      </div>
      <div class="col-sm-6 text-center">
        <img
          class="img-responsive"
          src="{{ site.data.webpack['illustration-technology.png'] }}"
        />
      </div>
    </div>
  </div>
</header>

<section id="section-technology-list" class="ga-section py-5">
  <div class="container">
    <div id="macy-container" data-columns="3" data-columns-small="2">
      {% for slug in site.data.technology.order %} {% assign pages = site.pages
      | where:'slug', slug %} {% for page in pages %}
      <div class="portfolio-tile text-black mb-0">
        <div class="row content px-2 mb-2">
          <div class="col-4 col-sm-12">
            <a href="{{ page.url }}" class="mb-0">
              <div
                class="technology-image-preview rounded-circle mb-4"
                style="background-image: url('{{ page.image }}'); margin: auto"
              ></div>
            </a>
          </div>
          <div class="col-8 col-sm-12">
            <a href="{{ page.url }}" class="portfolio-tile text-black mb-3">
              <h5 class="mb-0 text-red-dark">{{ page.title }}</h5>
              <small class="text-muted">{{page.type}}</small>
            </a>
            <p>{{ page.listing_description }}</p>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
</section>
