// --------------------------------------------------------------
// Footer

.footer {
  //min-height: 174px; //mob
  //min-height: 120px; //des
  padding: 30px 0 15px 0;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  // Small devices (tablets, 768px and up)
  @include media-breakpoint-up(sm) {
    text-align: left;
    padding: 50px 0;
  }
  .social {
    font-size: 22px;
    a {
      color: #000;
      display: inline-block;
      padding: 0 8px;
    }
  }
  .social,
  .email,
  .phone,
  .copy {
    display: block;
    line-height: 22px;
    margin-bottom: 10px;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      display: inline-block;
      //float: left;
      margin-bottom: 0;
    }
  }
  .email,
  .phone {
    font-family: 'RAGothamBold';
    font-size: 15px;
    margin-left: 20px;
    a {
      font-family: 'RAGothamBook';
      color: $red;
      text-decoration: none;
      padding-left: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copy {
    font-family: 'RAGothamBook';
    display: block;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      display: inline-block;
      float: right;
      text-align: right;
    }
  }
  a.facebook:hover {
    color: $facebook-blue;
  }
  a.twitter:hover {
    color: $twitter-blue;
  }
  a.linkedin:hover {
    color: $linkedin-blue;
  }
  a.flickr:hover {
    color: $flickr-pink;
  }
}
