// --------------------------------------------------------------
// Layout

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #808080;
}

.fwc {
	background-color: #fff;
	max-width: 1356px;
	margin: 0 auto;
	position: relative;
}

.container {
	max-width: 1016px;
	margin: 0 auto;
	//background: $red;
}
