// @import 'bower_components/font-awesome/scss/font-awesome';

// @import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
// @import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';
// @import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_gradients';
// @import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix';
// @import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid';

// @import 'fonts/gotham';
//import "mixins/webfont";

$red: #df4040;
$green: #40df40;
$blue: #4040df;

$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$linkedin-blue: #007bb5;
$flickr-pink: #ff0084;

body {
  background: $green;
}

.mock-mob {
  //background-image: url('/images/mock/mob-head.png');
  //width: 375px;
  //height: 450px;

  background-image: url('/images/mock/mob-12.png');
  width: 375px;
  height: 6207px;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}
.mock-desk {
  background-image: url('/images/mock/desk-hug.png');
  width: 1356px;
  height: 3695px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.3;
}

.mock-overlay {
  opacity: 0.1;
  position: relative;
  z-index: 1;
}

@import 'homepage/layout';
@import 'homepage/nav';
@import 'homepage/header';
@import 'homepage/build';
@import 'homepage/platform';
@import 'homepage/process';
@import 'homepage/stuff';
@import 'homepage/work';
@import 'homepage/footer';

// Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap

// Small devices (tablets, 768px and up)
//@include media-breakpoint-up(sm) {
//}

// Medium devices (desktops, 992px and up)
//@media (min-width: $screen-md-min) {
//}
// Large devices (large desktops, 1200px and up)
//@media (min-width: $screen-lg-min) {
//}
