// --------------------------------------------------------------
// Process

.process {
	background-color: #fff;
	overflow: hidden;
	margin-bottom: -20px;	// hack
	.tiles {
		text-align: center;
		font-size: 0;
		counter-reset: tile;
		.tile {
			//background-color: #fff;
			text-align: left;
			width: 338px;
			height: 493px;
			border: 0px solid red;
			display: inline-block;
			vertical-align: top;
			font-size: 18px;
			box-sizing: border-box;
			position: relative;
			&:nth-child(2n) {
				background-color: #f7f7f7;
			}
			&:before {
				// counter
				counter-increment: tile;
				content: counter(tile);
				display: block;
				//background-color: rgba(255,0,0,0.2);
				background-color: mix(#f00, #fff, 20%); // #fcc
				height: 40px;
				width: 40px;
				position: absolute;
				top: 2px;
				left: 1px;
				color: #FFF;
				text-align: center;
				line-height: 40px;
				font-family: "RAGothamMedium";
				font-size: 18px;
			}
			&:after {
				// blue horiz top
				content: '';
				display: block;
				//background-color: rgba(0,0,255,0.2);
				background-color: mix(#00f, #fff, 20%); // #ccf
				height: 2px;
				width: 1000%;
				transform: translateX(-50%);
				position: absolute;
				top: 0;
			}
		}
		.tile {
			&:nth-child(1) .tile2 .img {
				background-image: url('/images/steps/step1-coffee.png');
				background-size: 55%;
				background-position: 59% 94%;
			}
			&:nth-child(2) .tile2 .img {
				background-image: url('/images/steps/step2-books.png');
				background-size: 57%;
				background-position: 58% 100%;
			}
			&:nth-child(3) .tile2 .img {
				background-image: url('/images/steps/step3-robot.png');
				background-size: 51%;
				background-position: 65% 95%;
			}
			&:nth-child(4) .tile2 .img {
				background-image: url('/images/steps/step4-blocks.png');
				background-size: 72%;
				background-position: 82% 96%;
			}
			&:nth-child(5) .tile2 .img {
				background-image: url('/images/steps/step5-clock.png');
				background-size: 56%;
				background-position: 59% 90%;
			}
			&:nth-child(6) .tile2 .img {
				background-image: url('/images/steps/step6-cone.png');
				background-size: 52%;
				background-position: 61% 100%;
			}
		}
		.tile2 {
			height: 100%;
			&:before {
				// red vert left
				content: '';
				display: block;
				//background-color: rgba(255,0,0,0.2);
				background-color: mix(#f00, #fff, 20%); // #fcc
				width: 2px;
				position: absolute;
				top: 2px;
				left: -1px;
				height: 100%;
			}
			&:after {
				// red vert right
				content: '';
				display: block;
				// background-color: rgba(255,0,0,0.2);
				background-color: mix(#f00, #fff, 20%); // #fcc
				width: 2px;
				position: absolute;
				top: 2px;
				right: -1px;
				height: 100%;
			}
		}
		.img {
			height: 185px;
			background-repeat: no-repeat;
		}
		h2 {
			margin: 13px 0 20px 0;
			font-family: "RAGothamMedium";
			font-size: 20px;
			padding: 0 10px 0 30px;
			letter-spacing: -0.4px;
		}
		p {
			padding: 0 40px 0 30px;
			font-family: "RAGothamBook";
			font-size: 15px;
			line-height: 23px;
			letter-spacing: -0.1px;
		}
	}
}
