// --------------------------------------------------------------
// Stuff

.stuff {
	//display: none;
	position: relative;
	.title {
		background: rgba(0,0,0,0.8);
		color: #fff;
		height: 121px;
		position: absolute;
		width: 100%;
		z-index: 50;
		.container {
			position: relative;
		}
		h1 {
			margin: 0;
			font-family: "RAGothamMedium";
			font-weight: 400;
			font-size: 28px;
			line-height: 121px;
			letter-spacing: -0.6px;
		}
	}
	.slider-progress {
		position: absolute;
		right: 0;
		top: 25%;
		height: 50%;
		width: 200px;
		font-size: 0;
		text-align: right;
		//border: 1px solid red;
		.track {
			width: 37px;
			height: 100%;
			display: inline-block;
			cursor: pointer;
			//border: 1px solid red;
			&:before {
				content: '';
				display: block;
				width: 37px;
				background-color: rgba(255,255,255,0.2);
				height: 5px;
				position: absolute;
				top: 50%;
				transform: translateY(-2.5px);
			}
			+ .track {
				margin-left: 10px;
			}
			.train {
				background-color: #fff;
				height: 5px;
				width: 0%;	// set with inline style
				position: absolute;
				top: 50%;
				transform: translateY(-2.5px);
			}
		}
	}
	.slides {
		position: relative;
		z-index: 49;
		height: 644px;

		.slick-list,
		.slick-track {
			height: 100%;
		}

		.slide {
			position: relative;
			width: 100%;
			height: 100%;
			transition: background-color 500ms ease-in-out;
			//transform: translateX(100%);
			&.mb12wbt {
				background-color: #4040df;
				color: #fff;
			}
			&.huggies {
				background-color: #df4040;
				color: #fff;
			}
			&.plando {
				background-color: #e68600;
				color: #fff;
			}
			&.slick-current {
				//transform: translateX(0%);
				.logo {
					//bottom: 375px;
					//top: 195px;
					opacity: 1;
				}
			}
			.content {
				padding-left: 170px;
				padding-top: 220px;
				box-sizing: border-box;
				width: 666px;
			}
			.sep {
				background-color: #fff;
				width: 37px;
				height: 5px;
				position: relative;
				&:after {
					content: '';
					display: block;
					background-color: #fff;
					height: 1px;
					width: 494px;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			h2 {
				font-family: "RAGothamMedium";
				font-weight: 400;
				font-size: 20px;
				line-height: 26px;
				margin: 25px 0 19px;
				letter-spacing: -0.4px;
				text-align: left;
			}
			p {
				font-family: "RAGothamBook";
				font-weight: 400;
				font-size: 15px;
				line-height: 23px;
				letter-spacing: -0.3px;
				text-align: left;
			}
		}
	}
	svg {
		max-width: 100%;
	}
	svg.logo {
		transition: all 500ms ease-in-out;
		position: absolute;
		left: 170px;
		bottom: 355px;	//375
		//opacity: 0;
		top: 195px;
	}
	svg.preview {
		position: absolute;
		right: 0;
		top: 0;
	}
	svg.animated #big,
	svg.animated #small {
		transition: all 0.5s ease-in-out;
	}
	svg.animated #big {
		transition-delay: 0.25s;
	}
	svg.animated #small g.shadow1,
	svg.animated #small g.shadow2,
	svg.animated #small g.shadow3,
	svg.animated #small g.shadow4 {
		transition-delay: 0.25s;
	}
	svg.animated #big g.shadow1,
	svg.animated #big g.shadow2,
	svg.animated #big g.shadow3,
	svg.animated #big g.shadow4 {
		transition-delay: 0.5s;
	}

	/*
	delay	el
	0		small
	0.25	small shadow
	0.25	big
	0.5		big shadow

	animate in,
	go to next slide, once offscreen, remove animation, transform, add animation
	*/

	/*
	.test1 {
		transform: rotate(-30deg) skewX(30deg);
		transform-origin: top left;
		//-webkit-backface-visibility: hidden;
	}
	.test2 {
		transform: scale(0.5) rotate(-30deg) skewX(30deg);
		transform-origin: top left;
		//-webkit-backface-visibility: hidden;
		//-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}
	*/
}

.slick-demo {
	background: #ccf;
	width: 500px;
	margin: 0 auto;
}
.slick-slide {
	text-align: center;
	&.one { background: #4040df; }
	&.two { background: #df4040; }
	&.three { background: #e68600; }
}

.sliderContainer {
  position: relative;
}

.slider {
  width: 500px;
  margin: 30px 50px 50px;
}

.slick-slide {
  background: #3a8999;
  color: white;
  padding: 80px 0 120px;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -30px;
}

//.slick-slide:nth-child(odd) {
//  background: #e84a69;
//}

.progressBarContainer {
	position: absolute;
	bottom: 20px;
	width:300px;
	left:150px;
}
.progressBarContainer div {
	display: block;
	width: 30%;
	padding: 0;
	cursor: pointer;
	margin-right: 5%;
	float: left;
	color: white;
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 4px;
}