// --------------------------------------------------------------
// Work

.work {
  min-height: 360px;
  text-align: center;
  background-image: url('/images/header-temp.png');
  background-position: 50% 0;

  h1 {
    font-family: 'RAGothamMedium';
    font-size: 60px;
    line-height: 50px;
    margin: 0 0 20px 0;
    padding: 50px 50px 0 50px;
  }

  p {
    font-family: 'RAGothamBook';
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px 0;
    letter-spacing: -0.4px;
  }

  .btn {
    //222x50
    display: inline-block;
    background-color: #df4040;
    border-radius: 5px;
    font-family: 'RAGothamMedium';
    color: #fff;
    text-decoration: none;
    padding: 13px 27px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  // Small devices (tablets, 768px and up)
  @include media-breakpoint-up(sm) {
    min-height: 390px;

    h1 {
      font-size: 80px;
      line-height: 90px;
      padding: 85px 0 0 0;
      margin: 0 0 5px 0;
    }

    p {
      margin: 0 0 35px 0;
    }
  }
}
