/*
 * Import variables, mixins & functions
 */
@import '../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/utilities/spacing';

/*
 * Minimum bootstrap with only used classes
 */
@import 'img-fluid';
@import 'grid';
@import 'list';
@import 'font-awesome';

/*
 * Site styles
 */
@import '../backgrounds';
@import '../footer';
@import '../layout';
@import '../mixins';
@import '../sections';
@import '../text';
@import '../tiles';
