<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<application>
		<item name="timeout" value="9000000"/>
		<item name="help" value="To buy stock, open any market.  Choose any fish for sale, and move it into this area."/>
	</application>
	<months>
		<item month="1" name="January"/>
		<item month="2" name="February"/>
		<item month="3" name="March"/>
		<item month="4" name="April"/>
		<item month="5" name="May"/>
		<item month="6" name="June"/>
		<item month="7" name="July"/>
		<item month="8" name="August"/>
		<item month="9" name="September"/>
		<item month="10" name="October"/>
		<item month="11" name="November"/>
		<item month="12" name="December"/>
	</months>
	<update>
		<item id="1" title="Buy - below market" value="buy_belowmarket" description="Excellent! That trade was below the median buying price of $_marketprice. You've increased your status by _affectonstatus points."/>
		<item id="2" title="Buy - at market" value="buy_atmarket" description="Okay! You traded at the median buying price of $_marketprice. You've increased your status by _affectonstatus points."/>
		<item id="3" title="Buy - above market" value="buy_abovemarket" description="You could have done better! The median buying price is $_marketprice. You paid more than that. Your status is down _affectonstatus points."/>
		<item id="4" title="Sell - below market" value="sell_belowmarket" description="Look out! You could have done better. The median selling price is $_marketprice. You received less than that. Your status has dropped by _affectonstatus points."/>
		<item id="5" title="Sell - at market" value="sell_atmarket" description="Not too bad! You paid the median selling price for that breed of fish. You've increased your status by _affectonstatus points."/>
		<item id="6" title="Sell - above market" value="sell_abovemarket" description="Excellent sale! That trade was above the median selling price of $_marketprice. Your status has increased by _affectonstatus points."/>
		<item id="7" title="Attempt to buy with insufficient funds" value="nomoney" description="You don't have enough cash!"/>
		<item id="8" title="Status drops due to inactivity" value="timeout" description="You have not traded for a while. Your status has dropped by _affectonstatus points."/>
		<item id="9" title="missed the target" value="miss_target_buy" description="You've missed the mark! Try again." />
		<item id="10" title="missed the target" value="miss_target_sell" description="You've missed the mark! Try again." />
		<item id="11" title="sell - above but full status" value="sell_abovemarket_full" description="Excellent sale! That trade was above the median selling price of $_marketprice. You have 100 status points."/>
		<item id="12" title="sell - at but full status" value="sell_atmarket_full" description="Not too bad! You paid the median selling price for that breed of fish. You have 100 status points."/>
		<item id="13" title="sell - below but 0 status" value="sell_belowmarket_zero" description="Look out! You could have done better. The median selling price is $_marketprice. You received less than that. You have 0 status points."/>
		<item id="14" title="buy - above but 0 status" value="buy_abovemarket_zero" description="You could have done better! The median buying price is $_marketprice. You paid more than that. You have 0 status points."/>
		<item id="15" title="buy - at but full status" value="buy_atmarket_full" description="Okay! You traded at the median buying price of $_marketprice. You have 100 status points."/>
		<item id="16" title="buy - below but 100 status" value="buy_belowmarket_full" description="Excellent! That trade was below the median buying price of $_marketprice. You have 100 status points."/>
		<item id="17" title="status drop but already zero status" value="timeout_zero" description="You have not traded for a while. You have 0 status points."/>
	</update>
	<results>
		<result type="status" display_title="Market status">
			<text value="low" floor="0" ceiling="35" description="Your final status was quite low at _status points. Before you trade, make sure you explore all markets to find the best price."/>
			<text value="medium" floor="36" ceiling="64" description="Your final status was OK at _status points. Before you trade, compare the markets carefully to find the best price."/>
			<text value="high" floor="65" ceiling="100" description="Your final status was excellent at _status points. You explored markets and compared prices very effectively."/>
		</result>
		<result type="cash" display_title="Final cash">
			<text value="low" floor="0" ceiling="999999" description="You ended the game with $_cash."/>
		</result>
		<result type="stock" display_title="Total value of stock">
			<text value="low" floor="0" ceiling="9999999" description="You ended with a total stock value of $_stock."/>
		</result>
		<result type="transactions" display_title="Type of transactions">
			<text description="You made a total of _totaltransactions deals. Check above to see how many effective deals you made. Select 'H' below to see a history of your trading."/>
			<text description="You made just one deal. Check above to see how effective it was. Select 'H' below to see a history of your trading." />
		</result>
		<result type="numberofmarkets" display_title="Number of markets visited">
			<text value="low" floor="0" ceiling="4" description="You visited _numberofmarkets out of a total of 15 markets. Make sure you visit all available markets to find the fish."/>
			<text value="high" floor="5" ceiling="14" description="You visited _numberofmarkets out of a total of 15 markets."/>
			<text value="high" floor="15" ceiling="15" description="You visited every market! Good work!"/>
		</result>
		<result type="fizzer" display_title="Did you find the fizzer?">
			<text value="yes" description="You found and bought the fizzer. Congratulations!"/>
			<text value="no" description="You didn't manage to buy the fizzer, but you can learn from your experience and try again."/>
		</result>
	</results>
</settings>
