// --------------------------------------------------------------
// Build

.build {
  background-color: #000;
  color: #fff;
  padding: 47px 0 18px;
  // Small devices (tablets, 768px and up)
  @include media-breakpoint-up(sm) {
    padding: 95px 0 63px;
  }
  h1 {
    font-family: 'RAGothamMedium';
    //font-weight: 600;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -0.6px;
    line-height: 35px;
    margin: 0 0 29px 0;
  }
  p {
    font-family: 'RAGothamBook';
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 28px;
    letter-spacing: -0.4px;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      margin-bottom: 30px;
      line-height: 26px;
    }
  }
  .container {
    font-size: 0; // for zero width inline-block gap
    padding-left: 20px;
    padding-right: 20px;
  }
  .left {
    max-width: 668px;
    display: inline-block;
    vertical-align: top;
  }
  .right {
    max-width: 348px; // 1016-668
    display: inline-block;
    vertical-align: top;
    //box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      margin: 4px 0 0 0;
      padding: 0 0 0 28px;
    }
    list-style: none;
    li {
      position: relative;
      margin-bottom: 25px;
      font-family: 'RAGothamBook';
      font-size: 18px;
      line-height: 28px;
      font-weight: normal;
      color: #fff;
      padding-left: 57px;
      letter-spacing: -0.4px;
    }
    li:before {
      position: absolute;
      display: block;
      content: '';
      height: 5px;
      width: 37px;
      left: 0;
      top: 15px;
    }
    li:nth-child(3n + 1):before {
      background: $red;
    }
    li:nth-child(3n + 2):before {
      background: $green;
    }
    li:nth-child(3n + 3):before {
      background: $blue;
    }
  }
}
