// --------------------------------------------------------------
// Header

.header {
  min-height: 440px;
  // Small devices (tablets, 768px and up)
  @include media-breakpoint-up(sm) {
    min-height: 600px;
  }
  background-image: url('/images/header-temp.png');
  canvas.bg,
  svg.bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .headline {
    padding-top: 97px;
    // Small devices (tablets, 768px and up)
    @include media-breakpoint-up(sm) {
      padding-top: 171px;
    }
    .is-a {
      font-family: 'RAGothamBook';
      //font-weight: 400;
      font-size: 32px;
      line-height: 32px;
      margin-left: 160px;
      margin-bottom: 6px;
    }
    strong {
      font-family: 'RAGothamMedium';
      //font-weight: 600;
      font-size: 60px;
      line-height: 50px;
      font-weight: normal;
      letter-spacing: -1px;
      // Small devices (tablets, 768px and up)
      @include media-breakpoint-up(sm) {
        font-size: 80px;
        line-height: 70px;
        letter-spacing: -2px;
      }
    }
    .sep {
      display: block;
      content: '';
      background: $red;
      height: 5px;
      width: 37px;
      margin: 25px 0 25px;
      // Small devices (tablets, 768px and up)
      @include media-breakpoint-up(sm) {
        margin: 23px 0 28px;
      }
    }
    .we-create {
      font-family: 'RAGothamBook';
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.1px;
      // Small devices (tablets, 768px and up)
      @include media-breakpoint-up(sm) {
        line-height: 18px;
      }
    }
  }
}
