// --------------------------------------------------------------
// Platform

.platform {
	background-color: #f7f7f7;
	padding-top: 93px;
	padding-bottom: 72px;
	.container {
		font-size: 0;
	}
	.left {
		display: inline-block;
		width: 380px;
		font-size: 18px;
		vertical-align: top;
		padding-top: 6px;
		padding-left: 40px;
		box-sizing: border-box;
	}
	.right {
		display: inline-block;
		font-size: 18px;
		width: 636px;
		vertical-align: top;
		padding-right: 40px;
		box-sizing: border-box;
		h1 {
			font-family: "RAGothamMedium";
			font-size: 28px;
			font-style: normal;
			margin: 0 0 27px 0;
			letter-spacing: -0.5px;
		}
		p {
			font-family: "RAGothamBook";
			font-weight: normal;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: -0.4px;
			margin-bottom: 26px;
		}
	}
	svg g {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}
