<div class="blog-navbar py-3">
  <div class="container">
    <div class="links">
      <a href="/blog" class="pri">Blog</a>
      <a
        href="/design"
        class="{% if include.active == 'design' %}active{% endif %} secondary"
        >Design</a
      >
      <a
        href="/marketing"
        class="{% if include.active == 'marketing' %}active{% endif %} secondary"
        >Marketing</a
      >
      <a
        href="/mobile"
        class="{% if include.active == 'mobile' %}active{% endif %} secondary"
        >Mobile</a
      >
      <a
        href="/our-work"
        class="{% if include.active == 'our-work' %}active{% endif %} secondary"
        >Our Work</a
      >
      <a
        href="/red-ant-stuff"
        class="{% if include.active == 'red-ant-stuff' %}active{% endif %} secondary"
        >Red Ant</a
      >
      <a
        href="/ruby-on-rails-devops"
        class="{% if include.active == 'ruby-on-rails-devops' %}active{% endif %} secondary"
        >Devops</a
      >
      <a
        href="/ruby-on-rails"
        class="{% if include.active == 'ruby-on-rails' %}active{% endif %} secondary"
        >Ruby on Rails</a
      >
      <a
        href="/software-development"
        class="{% if include.active == 'software-development' %}active{% endif %} secondary"
        >Software Dev</a
      >
      <a
        href="/strategy"
        class="{% if include.active == 'strategy' %}active{% endif %} secondary"
        >Strategy</a
      >
      <a
        href="/tool-reviews"
        class="{% if include.active == 'tool-reviews' %}active{% endif %}"
        >Tools</a
      >
    </div>
  </div>
</div>
