<div class="blog-navbar py-3">
  <div class="container">
    <div class="links">
      <a href="/blog" class="pri">Blog</a>
      <a
        href="/design"
        class="{% if page.permalink == '/design/' %}active{% endif %} secondary"
        >Design</a
      >
      <a
        href="/marketing"
        class="{% if page.permalink == '/marketing/' %}active{% endif %} secondary"
        >Marketing</a
      >
      <a
        href="/mobile"
        class="{% if page.permalink == '/mobile/' %}active{% endif %} secondary"
        >Mobile</a
      >
      <a
        href="/our-work"
        class="{% if page.permalink == '/our-work/' %}active{% endif %} secondary"
        >Our Work</a
      >
      <a
        href="/red-ant-stuff"
        class="{% if page.permalink == '/red-ant-stuff/' %}active{% endif %} secondary"
        >Red Ant</a
      >
      <a
        href="/ruby-on-rails-devops"
        class="{% if page.permalink == '/ruby-on-rails-devops/' %}active{% endif %} secondary"
        >Devops</a
      >
      <a
        href="/ruby-on-rails"
        class="{% if page.permalink == '/ruby-on-rails/' %}active{% endif %} secondary"
        >Ruby on Rails</a
      >
      <a
        href="/software-development"
        class="{% if page.permalink == '/software-development/' %}active{% endif %} secondary"
        >Software Dev</a
      >
      <a
        href="/strategy"
        class="{% if page.permalink == '/strategy/' %}active{% endif %} secondary"
        >Strategy</a
      >
      <a
        href="/tool-reviews"
        class="{% if page.permalink == '/tool-reviews/' %}active{% endif %}"
        >Tools</a
      >
    </div>
  </div>
</div>
