<div class="blog-navbar">
  <div class="container">
    <div class="links">
      <a href="/blog" class="pri">Blog</a>
      <a href="/agile" class="{% if include.active == 'agile' %}active{% endif %}">Agile</a>
      <a href="/automated-testing" class="{% if include.active == 'automated-testing' %}active{% endif %}">Automated Testing</a>
      <a href="/design" class="{% if include.active == 'design' %}active{% endif %}">Design</a>
      <a href="/digital-products" class="{% if include.active == 'digital-products' %}active{% endif %}">Digital Products</a>
      <a href="/ecommerce" class="{% if include.active == 'ecommerce' %}active{% endif %}">E-Commerce</a>
      <a href="/how-we-do" class="{% if include.active == 'how-we-do' %}active{% endif %}">How We Do Stuff</a>
      <a href="/ideas" class="{% if include.active == 'ideas' %}active{% endif %}">Ideas</a>
    </div>
  </div>
</div>
