{% unless page.hide_blurb %}
<section id="footer" class="ga-section py-5 bg-gray-light text-md">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <p>
          Red Ant is a leading Ruby development agency. We're super cross
          functional. We provide a blended team of UX, strategy and technology.
          Local not offshore. Deliver quickly and then iterate.
        </p>
        <p>
          We use Open Source software, and apply an Agile project delivery
          methodology. We firmly believe in a blended team of designers,
          developers and strategists building the best digital experiences.
        </p>
      </div>

      <div class="col-md-5">
        <strong>Some of our work</strong>

        <ul class="unstyled-list mt-2">
          <li>
            <a href="/portfolio/tribe-influencer-marketplace/">Tribe</a>:
            Marketplace for influencers
          </li>
          <li><a href="/portfolio/12wbt/">12WBT</a>: Health and Fitness app</li>
          <li>
            <a href="/portfolio/campaign-xpress/">CX</a>: Real Estate
            advertising engine
          </li>
          <li>
            <a href="/portfolio/nps-medicinewise/">NPS Medicinewise:</a> Govt
            drug information site
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endunless %}

<footer class="footer py-5">
  <div id="contact" class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="unstyled-list">
          <li>
            <a href="mailto:info@redant.com.au">info@redant.com.au</a>
          </li>
          <li>
            <a href="tel:+61292678300">+61 2 9267 8300</a>
          </li>
          <li>
            <a
              href="https://red-ant.github.io/codepact-agreements/privacy-f6855e8d5e271a3c942ad9ef47ffac5a.html"
            >
              Red Ant Privacy Policy
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="unstyled-list icon-list">
          <li>
            <i class="fa fa-map-marker"></i>
            <a href="https://goo.gl/maps/aecDcCLqKCm" target="_blank">
              Find us on street view
            </a>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
            <a href="https://twitter.com/r_e_d_a_n_t" target="_blank">
              The most mundane Twitter, ever
            </a>
          </li>
          <li>
            <i class="fa fa-linkedin-square"></i>
            <a href="https://www.linkedin.com/company/76862" target="_blank">
              Stalk us on Linkedin
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        493 Bourke St, Surry Hills Sydney NSW 2010 Australia
        <br />
        ABN 87 081 223 252
      </div>
      <div
        class="d-flex flex-row flex-wrap justify-content-center mt-4 mt-md-0 link-list"
      >
        <a href="/blog/" class="pri mr-2">Blog</a>
        <span> | </span>
        <a href="/automated-testing/" class="mx-2">Automated Testing</a>
        <span> | </span>
        <a href="/mobile/" class="mx-2">Mobile</a>
        <span> | </span>
        <a href="/software-development/" class="mx-2">Ruby Development</a>
        <span> | </span>
        <a href="/our-work/" class="mx-2">Our Work</a>
        <span> | </span>
        <a href="/red-ant-stuff/" class="mx-2">Red Ant</a>
        <span> | </span>
        <a href="/ruby-on-rails-devops/" class="mx-2">Devops</a>
        <span> | </span>
        <a href="/ruby-on-rails/" class="mx-2">Ruby on Rails developer</a>
        <span> | </span>
        <a href="/strategy/" class="mx-2">Strategy</a>
        <span> | </span>
        <a href="/our-work/" class="mx-2">Work updates</a>
        <span> | </span>
        <a href="/tool-reviews/" class="mx-2">Tool Reviews</a>
        <span> | </span>
        <a href="/portfolio/" class="mx-2">Our Portfolio</a>
        <span> | </span>
        <a href="/about/" class="mx-2">About Red Ant</a>
        <span> | </span>
        <a href="/our-approach/" class="ml-2">
          Ruby on Rails Development Approach
        </a>
      </div>
      <div class="col text-center mt-3">
        &copy; Red Ant {{ 'now' | date: "%Y" }}
      </div>
    </div>
  </div>
</footer>
