<div class="row gallery-tiles">
  {% for image in include.images %}
    <div class="col-12">
      <a href="{{ site.data.webpack[image.filename] }}"
        class="gallery-img"
        data-index="{{ forloop.index }}"
        data-toggle="modal"
        data-target="#gallery-modal">
        <img src="{{ site.data.webpack[image.filename] }}" class="img-fluid" alt="Red Ant - {{ include.alt_attr }}">
      </a>
    </div>
  {% endfor %}
</div>

<div id="gallery-modal"
  class="modal fade"
  data-backdrop="static"
  aria-labelledby="gallery-modal"
  aria-hidden="true"
  role="dialog"
  tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <section class="carousel-wrapper">
        <div class="carousel-arrows"></div>
        <div class="carousel">
          {% for image in include.images %}
            <div class="slide">
              <img class="d-block img-fluid" src="{{ site.data.webpack[image.filename] }}" alt="Red Ant - {{ include.alt_attr }}">
              <h5 class="text-center mt-3">{{ image.title }}</h5>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
