<style>.async-hide { opacity: 0 !important} </style>

<script>
  var gtmId = window.location.host === "{{site.url}}"
    ? "{{ site.gtm.prod }}"
    : "{{ site.gtm.dev }}";

  // Google Optimize page hiding snippet
  (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
  })(window,document.documentElement,'async-hide','dataLayer',4000,{[gtmId]:true});

  // Google Tag Manager
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer',gtmId);
</script>
