<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% seo %}
  <link rel="icon" href="{{ site.data.webpack['favicon.ico'] }}" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="{{ site.data.webpack['vendor.css'] }}" />
  <link rel="stylesheet" href="{{ site.data.webpack['app.css'] }}" />
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <meta
    name="google-site-verification"
    content="uky3VJEeD3NAFHIK0V4KLdxlYF7fGGXJYyyt96LLe78"
  />
  <!-- Fonts -->
  <script src="//use.typekit.net/apo0vqh.js"></script>
  <script>
    try {
      Typekit.load();
    } catch (e) {}
  </script>

  {% if site.gtm %} {% include gtm.html %} {% endif %} {% if page.path contains
  '_posts' %}
  <link
    rel="amphtml"
    href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url | append: '.html' }}"
  />
  {% endif %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "url": "{{ site.url }}{{ page.url }}",
      "name": {{ page.title | jsonify }},
      "headline": {{ page.title | jsonify }},
      "description": {{ page.excerpt-short | strip_newlines | strip | jsonify }},
      "articleBody": {{ page.content | strip_html | jsonify }},
      "datePublished": {{ page.date_published | jsonify }},
      "author": {
        "@type": "Person",
        "name": {{ page.author | jsonify }},
      },
      "publisher": {
        "@type": "Organization",
        "name": "Red Ant",
        "url": "{{ site.url }}",
        "logo": {
          "@type": "ImageObject",
          "width": 48,
          "height": 48,
          "url": "{{ site.data.webpack['favicon.ico'] }}"
        }
      },
      "image": {
        "@type": "ImageObject",
        "url": [
          "{{ page.image-small }}",
          "{{ page.image-large }}"
        ]
      }
    }
  </script>
</head>
