{% if page.nav == 'navbar-aos' %}
<nav
  class="navbar nav-overlay"
  data-aos-anchor=".navbar-aos"
  data-aos="navbar-aos"
  data-aos-anchor-placement="bottom-bottom"
>
  {% else %}
  <nav class="navbar nav-overlay">
    {% endif %}
    <div class="container">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <a href="/" class="navbar-brand">
            <img
              class="logo"
              src="{{ site.data.webpack['logo.svg'] }}"
              alt="Red Ant logo"
            />
          </a>
          <div class="d-flex justify-content-end align-items-center w-100">
            <a
              class="d-none d-sm-block mr-3 contact-us"
              href="/ruby-on-rails-code-review/"
            >
              <i class="fa fa-code"></i> Code review
            </a>
            <a
              class="pl-3 mr-3 border-danger border-left d-none d-sm-block contact-us"
              href="tel:+61292678300"
            >
              <i class="fa fa-phone"></i> Contact Us
              <strong class="d-block d-sm-inline-block text-sm"
                >(02) 9267 8300
              </strong>
            </a>
            <div class="nav-toggle-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div class="d-flex d-sm-none flex-row justify-content-center mt-3">
          <a class="contact-us mr-3 text-sm" href="/ruby-on-rails-code-review/">
            <i class="fa fa-code"></i> Code review
          </a>
          <a
            class="contact-us pl-3 mr-3 border-danger border-left text-sm"
            href="tel:+61292678300"
          >
            <i class="fa fa-phone"></i> Contact Us
            <strong class="d-inline-block text-sm">(02) 9267 8300</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="container nav-links mx-4 mx-md-auto">
      <ul class="links">
        <li>
          <a href="/" class="home-link">Home</a>
        </li>
        <li>
          <a href="/about/" class="about-link">About Red Ant</a>
        </li>
        <li>
          <a href="/our-approach/" class="our-approach-link">Our Approach</a>
        </li>
        <li>
          <a href="/portfolio/" class="portfolio-link">Portfolio</a>
        </li>
        <li>
          <a href="/technology/">Technology and Integrations</a>
        </li>
        <li>
          <a href="/ruby-on-rails-code-review/">Code Review</a>
        </li>
        <li>
          <a href="/blog/" class="news-and-ideas-link">Blog</a>
        </li>
        <li>
          <a href="/jobs/" class="jobs-link">Careers</a>
        </li>
        <li>
          <a href="/contact-us/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-spacer"></div>
</nav>
