{% if page.nav == 'navbar-aos' %}
<nav
  class="navbar nav-overlay"
  data-aos-anchor=".navbar-aos"
  data-aos="navbar-aos"
  data-aos-anchor-placement="bottom-bottom"
>
  {% else %}
  <nav class="navbar nav-overlay">
    {% endif %}
    <div class="container">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <a href="/" class="navbar-brand">
            <img
              class="logo"
              src="{{ site.data.webpack['logo.svg'] }}"
              alt="Red Ant logo"
            />
          </a>
          <div class="d-flex justify-content-end align-items-center w-100">
            <div class="d-none d-sm-block">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a href="/get-started/" class="nav-link">Get started</a>
                </li>
                <li class="nav-item">
                  <a href="/about/" class="nav-link">About us</a>
                </li>
                <li class="nav-item">
                  <a href="/portfolio/" class="nav-link">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a href="/technology/" class="nav-link">Technology</a>
                </li>
                <li class="nav-item">
                  <a href="/blog/" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
            <div class="d-block d-sm-none nav-toggle-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container nav-links mx-4 mx-md-auto">
      <ul class="links">
        <li>
          <a href="/" class="home-link">Home</a>
        </li>
        <li>
          <a href="/about/" class="about-link">About us</a>
        </li>
        <li>
          <a href="/get-started/" class="get-started-link">Get started</a>
        </li>
        <li>
          <a href="/portfolio/" class="portfolio-link">Portfolio</a>
        </li>
        <li>
          <a href="/technology/" class="technology-link">Technology</a>
        </li>
        <li>
          <a href="/blog/" class="blog-link">Blog</a>
        </li>
        <li>
          <a href="/contact-us/" class="contact-us-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-spacer"></div>
</nav>
