<div class="ga-section card mb-3">
  <a href="{{ post.url }}" class="portfolio-tile bg-white text-black mb-0">
    <div class="row">
      {% if post.image-small %}
        <div class="col-md-8 post-image-preview"
          style="background-image: url('{{post.image-small}}')">
        </div>

      <div class="col-md-4 p-3">
      {% else %}
      <div class="p-3">
      {% endif %}

        <h5>{{ post.title }}</h5>

        <p class="post-content">
          {% if post.excerpt-short %}
            {{ post.excerpt-short }}
          {% endif %}
        </p>
      </div>
    </div>
  </a>
</div>
