
<svg class="preview" data-aos="slide-left" version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px"
    width="1200px" height="720px"
    viewBox="0 0 1200 720"
    enable-background="new 0 0 1200 720"
    xml:space="preserve">
  <defs>
    <clipPath id="clip">
      <rect fill="none" width="1200" height="720"></rect>
    </clipPath>
  </defs>
  <g clip-path="url(#clip)">
    <g class="big" transform="translate(-45 75)">
      <g transform="translate(0 40)" opacity="0.10" class="shadow4">
        <rect fill="#000000" width="455" height="719" transform="rotate(-30 455 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 30)" opacity="0.15" class="shadow3">
        <rect fill="#000000" width="455" height="719" transform="rotate(-30 455 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 20)" opacity="0.20" class="shadow2">
        <rect fill="#000000" width="455" height="719" transform="rotate(-30 455 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 10)" opacity="0.25" class="shadow1">
        <rect fill="#000000" width="455" height="719" transform="rotate(-30 455 0) skewX(30)"></rect>
      </g>
      <g transform="rotate(-30 455 0) skewX(30)" class="art">
        <image overflow="visible" width="455" height="719" xlink:href="{{ site.data.webpack[include.desktop_image] }}"></image>
      </g>
    </g>
    <g class="small" transform="translate(-10 437)">
      <g transform="translate(0 40)" opacity="0.10" class="shadow4">
        <rect fill="#000000" width="185" height="329" transform="rotate(-30 185 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 30)" opacity="0.15" class="shadow3">
        <rect fill="#000000" width="185" height="329" transform="rotate(-30 185 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 20)" opacity="0.20" class="shadow2">
        <rect fill="#000000" width="185" height="329" transform="rotate(-30 185 0) skewX(30)"></rect>
      </g>
      <g transform="translate(0 10)" opacity="0.25" class="shadow1">
        <rect fill="#000000" width="185" height="329" transform="rotate(-30 185 0) skewX(30)"></rect>
      </g>
      <g transform="rotate(-30 185 0) skewX(30)" class="art">
        <image overflow="visible" width="185" height="329" xlink:href="{{ site.data.webpack[include.mobile_image] }}"></image>
      </g>
    </g>
  </g>
</svg>
