<section id="section-companies" class="ga-section default-padding bg-white">
  <div class="container py-5 py-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h3>Our clients</h3>
      </div>
      <div class="col-12">
        <p class="text center px-2 mb-5">
          For more than 20 years, we've had the pleasure of working with many
          startups, brands and large companies.
        </p>
        <img
          class="d-md-block d-none img-fluid"
          src="{{ site.data.webpack['client-logo-desktop.png'] }}"
          alt="Red Ant clients"
        />
        <img
          class="d-md-none img-fluid"
          src="{{ site.data.webpack['client-logo-mobile.png'] }}"
          alt="Red Ant clients"
        />
      </div>
    </div>
  </div>
</section>
