<section id="section-ruby-on-rails" class="ga-section navbar-aos padded-section text-md bg-gray-light">
  <div class="container py-5 py-sm-0">
    <div class="row d-block d-sm-none">
      <div class="col">
        <div class="ruby"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>Ruby on Rails</h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        <p class="h4 mb-4">The efficient way to build modern digital products.</p>

        <p>
          An Open source web framework Ruby on Rails makes designing and building modern web sites and digital products <a href="https://news.redant.com.au/getting-more-efficient-with-our-ruby-on-rails-projects-196425624cc8">more efficient</a>. Ruby on Rails is a popular choice for building modern, interactive web sites and apps.
        </p>

        <div class="collapse-group">
          <div class="collapse" id="more-about-rails">
            <p>
              Ruby on Rails speeds up many of the simple tasks, and allows for extremely rapid creation of prototypes and working code. It also uses “best practice” by default, so you’re not relying on the whim of a particular developer. Of course, having a smart developer is critical, and Rails allows them to translate ideas and concepts quickly and efficiently.
            </p>
            <p>
              Working in an Agile fashion, we can create code that can then be reviewed that day. We might be heading in the right direction, or it might need to behave differently. Rapid change and evolution is a good thing. Using Ruby on Rails facilitates this.
            </p>
            <p>
              Ruby on Rails also helps us create very high quality code. Each part of code has <a href="https://news.redant.com.au/testing-web-projects-64ee5146f55a">a series of Automated Tests</a>. These perform checks to make sure that feature is working as it should. These get run every time a change is made. By doing this, we know that one change hasn’t broken something else. As soon as anything breaks or changes, our Continuous Integration server lets us know and the code is fixed.
            </p>
          </div>

          <a href="#more-about-rails" class="more" data-toggle="collapse" data-target="#more-about-rails">Read more...</a>
      </div>
    </div>

    <div class="col-md-4 d-none d-sm-block">
      <div class="ruby" data-aos="fade-left" data-aos-once="true"></div>
    </div>
  </div>
</section>
