<section id="section-stuff-we-made" class="ga-section">
  <div class="carousel-layout">
    <div class="slide bg-managed">
      <div class="container">
        <div class="row">
          <div class="col-md-6 py-5">
            <div class="content">
              <h3 class="text-managed">Managed</h3>
              <h5 data-aos="fade-right" data-aos-once="true">
                A payment and management platform for rental property
              </h5>
              <p
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="100"
              >
                Significantly changes and improves the way a Property Manager
                works when managing a portfolio of rental properties. Solves
                issues around Trust funds, eliminates fraud, improves the speed
                and resolves a lot of problems that a PM faces - freeing them up
                to be more strategic.
              </p>
              <a
                href="/portfolio/managed/"
                class="text-managed"
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="200"
              >
                More details.
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="svg-wrapper">
        {% include svg/project-header.svg slug="managed" title="Managed App" %}
      </div>
    </div>

    <div class="slide bg-12wbt">
      <div class="container">
        <div class="row">
          <div class="col-md-6 py-5">
            <div class="content">
              <h3 class="text-12wbt">Michelle Bridges 12WBT</h3>
              <h5 data-aos="fade-right" data-aos-once="true">
                A health and fitness product
              </h5>
              <p
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="100"
              >
                A digital product in the health and fitness area which has been
                incredibly popular, changing thousands of lives. Every second
                person we meet seems to either be doing it or know someone that
                is a raving fan.
              </p>
              <a
                href="/portfolio/12wbt/"
                class="text-12wbt"
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="200"
              >
                More details.
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="svg-wrapper">
        {% include svg/project-header.svg slug="12wbt" title="12wbt" %}
      </div>
    </div>

    <div class="slide bg-huggies">
      <div class="container">
        <div class="row">
          <div class="col-md-6 py-5">
            <div class="content">
              <h3 class="text-huggies">Huggies</h3>
              <h5 data-aos="fade-right" data-aos-once="true">
                A place for parents to learn &amp; share
              </h5>
              <p
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="100"
              >
                Yes, Huggies like in the nappies you put on babies. Try
                searching for anything baby or child related, and you’ll
                probably end up on a Huggies page. So much more than a brand
                site for Nappies – everything you need to know if you’re the
                proud owner of a 0-5 year old, or if you’re pregnant. Close to
                half the Mums in Australia are members, so we must be doing
                something right.
              </p>
              <a
                href="/portfolio/huggies/"
                class="text-huggies"
                data-aos="fade-right"
                data-aos-once="true"
                data-aos-delay="200"
              >
                More details.
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="svg-wrapper">
        {% include svg/project-header.svg slug="huggies" title="Huggies" %}
      </div>
    </div>
  </div>
</section>
