<section
  id="section-engagement"
  class="ga-section section-border bg-gray-light py-5"
>
  <h2 class="text-center pb-4">Engagement Models</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="px-4 py-5 tile bg-white table rounded-sm">
          <h4 class="mt-0 text-red-dark">New Builds</h4>
          We create, design and build new apps and platforms. We can help you
          design for scale, as well as strategy or product support as you need
          it. We'll take responsibility for delivering your project.We create,
          design and build new apps and platforms. We can help you design for
          scale, as well as strategy or product support as you need it. We'll
          take responsibility for delivering your project.
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="px-4 py-5 tile bg-white table rounded-sm">
          <h4 class="mt-0 text-red-dark">Existing Apps</h4>
          We can also take over an existing project. Often companies need a bit
          more experience, developer resourcing, or help in completing certain
          features before they launch. Or you might need more development tasks
          done to your existing platform.
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="px-4 py-5 tile bg-white table rounded-sm">
          <h4 class="mt-0 text-red-dark">Devops and Platform Support</h4>
          We also provide a comprehensive Devops and Platform Support service.
          We'll take on responsibility for monitoring and providing technical
          support as part of an ongoing plan that we can design with you.
        </div>
      </div>
    </div>
  </div>
</section>
