<section
  id="section-ruby-on-rails"
  class="ga-section navbar-aos padded-section text-md"
>
  <div class="container py-5 py-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="font-weight-normal">OK so now what?</h2>
        <p>
          Well you could muck around working on your high-level strategy with ad
          agencies and management consultants - or you could talk to someone who
          actually builds complex digital projects. We love solving technical
          problems. And we and we know we can help.
        </p>
        <p>
          Sound interesting? Then come and talk to us.
        </p>
      </div>
    </div>
    <div class="row text-center pt-3">
      <div class="col-md-4 offset-md-2 pb-3">
        <a
          class="btn btn-primary w-100 py-2"
          href="/free-initial-consult-code-review/"
        >
          <i class="fa fa-comments"></i> Free initial consult
        </a>
      </div>
      <div class="col-md-4 pb-3">
        <a
          class="btn btn-primary w-100 py-2"
          href="/ruby-on-rails-code-review/"
        >
          <i class="fa fa-code"></i> Code review
        </a>
      </div>
    </div>
  </div>
</section>
