<section
  id="section-ruby-on-rails"
  class="ga-section navbar-aos padded-section text-md bg-gray-light">
  <div class="container py-5 py-sm-0">
    <div class="row d-block d-sm-none">
      <div class="col">
        <div class="code-review"></div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1>
          Code review and checkup - Ruby on Rails, React, Javascript, Swift iOS
        </h1>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-8">
        <p>
          Just like checking your own health, it is useful to get your code reviewed and checked out. We can give you better idea of the good and the bad, and help you understand technical debt. Quick results at a fixed price.
        </p>

        <a href="/ruby-on-rails-code-review/">Read more...</a>
      </div>

      <div class="col-md-4 d-none d-sm-block">
        <div class="code-review" data-aos="fade-left" data-aos-once="true"></div>
      </div>
    </div>
  </div>
</section>
