<section
  id="section-testimonials"
  data-ga-trigger="visibility"
  class="testimonials default-padding bg-red"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-4">Testimonials</h2>
      </div>
    </div>
    <div class="row slick-redant">
      <div class="col-md-8">
        <div class="card card-testimonial text-red">
          <p>
            "Working with Red Ant was a real pleasure. They developed a deep
            understanding of our business and came up with great strategic and
            tactical ideas for growth"
          </p>
          <p>Peter Mercer</p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card card-testimonial text-red">
          <p>
            "I've worked with Red Ant for nearly 20 years. The best development
            agency in Sydney, one that won't let you down."
          </p>
          <p>Binh Wilson</p>
        </div>
      </div>
    </div>
  </div>
</section>
