<section
  id="section-testimonials"
  data-ga-trigger="visibility"
  class="testimonials default-padding bg-{{ include.colour }}"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Testimonials</h3>
      </div>
    </div>
    <div class="row slick-redant">
      <div class="col-md-9">
        <div class="card py-4">
          <p>
            "Working with Red Ant was a real pleasure. They developed a deep
            understanding of our business and came up with great strategic and
            tactical ideas for growth"
          </p>
          <p class="small">Peter Mercer</p>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card py-4">
          <p>
            "I've worked with Red Ant for nearly 20 years. The best development
            agency in Sydney, one that won't let you down."
          </p>
          <p class="small">Binh Wilson</p>
        </div>
      </div>
    </div>
  </div>
</section>
