$red: #df4040;
$red-light: #edaeae;

$gray: #666;
$gray-smoke: #e4e4f5;
$gray-light: #f7f7f7;
$gray-mid: #808080;

$mb12wbt-bg: #0047ba;
$huggies-bg: #df4040;
$plando-bg: #e68600;

$layout-max-width: 1600px;
$navbar-height: 60px;
