$red: #df4040;
$red-light: #edaeae;

$gray: #666;
$gray-smoke: #e4e4f5;
$gray-light: #f7f7f7;
$gray-mid: #808080;

$project-colors: (
  beautyheaven: #00deff,
  bondivet: #2991f2,
  campaign-xpress: #00AEEB,
  huggies: #df4040,
  12wbt: #0047ba,
  momentum: #00deff,
  nps: #401a6e,
  petmatcher: #84c722,
  plando: #e68600,
  raywhite: #ffe512,
  redant: #cd232e,
  selleys: #113770,
  tribe: #bb00ff,
  vibe: #bdd736,
  voome: #00ffa8,
  whatson: #00a1df,
  yates: #8cc63f,
);

$about-red: #df4040;
$about-green: #40df40;
$about-blue: #4040df;

$layout-max-width: 1400px;
$navbar-height: 60px;

$font-size-base: 1.05rem;
$headings-font-weight: 700;
$font-family-sans-serif: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;

$fa-font-path: '~font-awesome/fonts';
