.dark-header {
  position: relative;
  background-size: cover;
  color: $white;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($black, 0.8);
  }
}

.project-header {
  position: relative;
  width: 100%;
  // min-height: 400px;
  padding-top: $navbar-height;
  margin-bottom: -2 * $navbar-height;
  overflow: hidden;

  .project-header-content {
  }

  svg {
    margin-top: $grid-gutter-width;
    z-index: 5;
  }

  @include media-breakpoint-down(md) {
    .project-header-content {
      margin-top: -200px;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 280px;
    margin-bottom: 0;
  }
}
