a {
  color: $red;

  &:hover,
  &:active,
  &:focus {
    color: rgba($red, 0.75);
  }
}

.unstyled-list {
  padding-left: 0;
  list-style: none;
}

.about-us-list {
  padding-left: 62px;
  list-style: none;

  li {
    position: relative;
    margin-bottom: $grid-gutter-width / 2;

    &::before {
      @include block();
      content: '';
      display: block;
      position: absolute;
      left: -62px;
      top: 10px;
    }

    &.red::before {
      background-color: $about-red;
    }

    &.green::before {
      background-color: $about-green;
    }

    &.blue::before {
      background-color: $about-blue;
    }
  }
}

hr {
  @include block();
}

hr.inverse {
  @include block($white);
}

.hr-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($white, 0.65);

  hr {
    margin-bottom: 0;
  }
}
