$gray: #eee;
$black: #222;

html,
body {
  height: 100%;
}

body {
  background: $gray;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  color: $black;
  font-weight: normal;
  text-transform: uppercase;
}

.logo {
  margin-top: 1rem;
  width: 50%;
}
