<meta property="fb:admins" content="red.ant.3994">
<meta property="og:title" content="{{page.title}}">
<meta property="og:site_name" content="Red Ant">
<meta property="og:url" content="{{site.url}}{{page.url}}">
<meta property="og:description" content="{{page.excerpt.short}}">
<meta property="og:type" content="website">
{% if page.image.feature %}
  <meta property="og:image" content="{{site.url}}{{page.image.feature}}">
{% else %}
    {% if page.image.big %}
        <meta property="og:image" content="{{site.url}}{{page.image.big}}">
    {% else %}
        <meta property="og:image" content="{{site.url}}{{page.image.small}}">
    {% endif %}
{% endif %}
<meta property="og:locale" content="en_GB">
<meta property="og:locale:alternate" content="en_US">