.bg-angled {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 480px 780px;
  border-color: transparent;
  border-bottom-color: $white;

  @include media-breakpoint-up(sm) {
    border-width: 0 0 80vh 98vw;
  }
}

.bg-black {
  background-color: $black !important;
  color: $white;
}

.bg-gradient {
  background: linear-gradient(transparent, $white);
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-green {
  background-color: $green;
}

.bg-code-review {
  background-image: url('~images/code-review.jpg');

  &.padded-section {
    padding: 130px 0 90px 0;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
  }
}

.bg-gray {
  background-color: $gray-400;
}

.bg-gray-light {
  background-color: $gray-100;
}

.bg-mac-modal {
  background-color: $gray-200;
}

// .bg-get-started {
//   background-image: url('~images/bg-get-started.png');
//   background-position: left;
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

.bg-get-started {
  position: relative;
  background-color: transparent;
}

.bg-get-started::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('~images/bg-get-started.png');
}

.bg-our-approach {
  background-image: url('~images/our-approach.jpg');

  &.padded-section {
    padding: 150px 0 90px 0;
  }
}

.bg-orange {
  background-color: $orange;
}

.bg-white {
  background-color: $white;
}

@each $name, $value in $project-colors {
  .bg-#{$name} {
    background-color: rgba($value, 0.1);
  }

  .text-#{$name} {
    color: $value;
  }
}
