.bg-about {
  background-image: url('~images/bg-about-hero.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-angled {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 480px 780px;
  border-color: transparent;
  border-bottom-color: $white;

  @include media-breakpoint-up(sm) {
    border-width: 0 0 80vh 98vw;
  }
}

.bg-black {
  background-color: $black !important;
  color: $white;
}

.bg-gradient {
  background: linear-gradient(transparent, $white 80%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-green {
  background-color: $green-100 !important;
}

.bg-code-review {
  background-image: url('~images/code-review.jpg');

  &.default-padding {
    padding: 130px 0 90px 0;

    @include media-breakpoint-down(sm) {
      padding: 30px 0;
    }
  }
}

.bg-gray {
  background-color: $gray-400;
}

.bg-gray-light {
  background-color: $gray-100;
}

.bg-get-started {
  background-image: url('~images/bg-get-started-hero.png');
  background-position: left;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bg-orange {
  background-color: $orange-200;
}

.bg-orange-100 {
  background-color: $orange-100 !important;
}

.bg-portfolio-list {
  background-image: url('~images/bg-portfolio-list.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-technology {
  background-image: url('~images/bg-technology-hero.png');
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

.bg-technology-detail {
  background-image: url('~images/bg-technology-detail.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-white {
  background-color: $white;
}

.bg-red {
  background-color: $red-100 !important;
}

@each $name, $value in $project-colors {
  .bg-#{$name} {
    background-color: rgba($value, 0.1);
  }

  .bg-detail-#{$name} {
    background-color: rgba($value, 0.5);
  }

  .text-#{$name} {
    color: $value;
  }
}
