.btn-primary {
  color: $white;
  background-color: $red;
  border: none;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background-color: rgba($red, 0.9) !important;
    transition: 0.2s;
  }
}

.btn-default {
  color: $red;
  background-color: $white;
  border: 1px solid $red;
}
