.btn-primary {
  color: $white;
  background-color: $red;
  border: none;
  font-family: $montserrat-semibold;
  padding: 10px 20px 10px 20px;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background-color: rgba($red, 0.9) !important;
    transition: 0.2s;
  }

  &.btn-green {
    background-color: $green-100;

    &:hover,
    &:active,
    &:focus {
      background-color: rgba($green-100, 0.9) !important;
      transition: 0.2s;
    }
  }
}

.btn-default {
  color: $red;
  background-color: $white;
  border: 2px solid $red;
  font-family: $montserrat-semibold;
  padding: 10px 20px 10px 20px;

  &:hover,
  &:active,
  &:focus {
    color: rgba($red, 0.9);
    transition: 0.2s;
  }
}
