.card {
  border: none;

  .card-img-wrapper {
    height: 200px;
    overflow: hidden;

    .card-img-top {
      width: 100%;
      height: auto;
    }
  }

  .card-block {
    color: $black;

    .card-title {
      font-size: 1.15rem;
    }
  }

  h5.card-title {
    font-family: $montserrat-regular;
    font-weight: normal;

    span {
      font-family: $montserrat-bold;
    }

    &.text-green {
      color: $green-100;
    }

    &.text-orange {
      color: $orange-200;
    }

    &.text-red {
      color: $red;
    }
  }

  .number {
    background-color: $red;
    border-radius: 100%;
    color: $white;
    text-align: center;
    width: 30px;
    height: 30px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--review {
    border: 1px solid $red-200;

    .card-header {
      background: $red;
      padding-left: 1rem;
      padding-right: 1rem;
      border-color: $red-200;

      .card-title {
        color: $white;
        font-size: 1.3rem;
        font-weight: normal;
      }
    }

    .card-body {
      > ul {
        margin-left: -20px;

        ul li {
          font-size: 0.95rem;
          margin-left: -20px;
        }
      }

      .card-label {
        font-size: 0.95em;
        font-weight: bold;
      }
    }

    .card-footer {
      padding: 0;
      background: none;
      border: none;

      a {
        display: block;
        border-radius: 0;
        background: $red;
        text-align: center;
        color: $white;
        font-size: 1.1em;

        &:hover {
          background: $red-300;
        }
      }
    }
  }
}
