.carousel {
  max-width: 100%;
  overflow: hidden;

  .slide {
    position: relative;
    width: 100%;
    overflow: hidden;

    img {
      max-height: 1000px;
      margin: auto;
    }

    .content {
      position: relative;
      height: 550px;
      padding-top: 170px;
      z-index: 2;

      h5 {
        margin: $grid-gutter-width / 2 0;
      }
    }

    .svg-wrapper {
      position: absolute;
      width: 50%;
      height: 100%;
      bottom: 0;
      right: 0;
      margin-bottom: -10px;
      overflow: hidden;
      z-index: 1;
    }
  }
}

.slick-dots {
  text-align: left;
  margin: 0 0 0 12px;

  li button::before {
    background-color: $black;
    content: '';
    height: 4px;
    width: 20px;
  }
}
