.card {
  border: none;

  .card-img-wrapper {
    height: 200px;
    overflow: hidden;

    .card-img-top {
      width: 100%;
      height: auto;
    }
  }

  .card-block {
    color: $black;

    .card-title {
      font-size: 1.15rem;
    }
  }

  h5.card-title {
    font-family: $montserrat-regular;
    font-weight: normal;

    span {
      font-family: $montserrat-bold;
    }

    &.text-green {
      color: $green-200;
    }

    &.text-orange {
      color: $orange-200;
    }

    &.text-red {
      color: $red;
    }
  }

  .number {
    background-color: $red;
    border-radius: 100%;
    color: $white;
    text-align: center;
    width: 30px;
    height: 30px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &--review {
    background-color: $white;
    padding: 40px 20px 0 20px;

    .card-header {
      background: transparent;
      margin-bottom: 30px;
      padding: 0;

      .card-title {
        color: $green-300;
      }
    }

    .card-body {
      padding: 0;

      > ul {
        margin: 0 0 0 10px;

        ul li {
          font-size: 0.95rem;
          margin-left: -20px;
        }
      }

      .card-label {
        font-size: 0.95em;
        font-weight: bold;
      }
    }

    .card-footer {
      background: none;
      border: none;
      margin-bottom: -25px;
      padding: 0;
    }
  }
}
