.dark-header {
  position: relative;
  background-size: cover;
  color: $white;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($black, 0.8);
  }

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

.project-preview {
  position: relative;
  width: 100%;
  margin-bottom: -2 * $navbar-height;
  overflow: hidden;

  svg {
    z-index: 5;
  }

  @include media-breakpoint-down(md) {
    height: 480px;

    .project-preview-content {
      margin-top: -200px;
    }
  }

  @include media-breakpoint-down(sm) {
    height: 360px;
    margin-bottom: 0;
  }
}

.blog-header--agile {
  background-image: url("~images/headers/agile.jpg");
  background-size: cover;
}

.blog-intro {
  height: 350px;

  .container {
    height: 100%;
  }

  .middle {
    display: flex;
    height: 100%;
  }

  .boom {
    margin-top: auto;
    margin-bottom: auto;
  }

  h1 {
    color: #fff;
    font-size: 75px;
    // gotham medium
    &.slash::before {
      content: "/";
    }

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  p {
    color: #fff;
    font-size: 18px;
    // Gotham Book
  }
}

@include media-breakpoint-down(sm) {
  .blog-header {
    height: 350px;
  }

  .blog-intro {
    height: 250px;

    h1 {
      font-size: 45px;
    }
  }
}
