body {
  background-color: $gray-300;
}

.container {
  max-width: 960px;
}

.main-layout {
  position: relative;
  max-width: $layout-max-width;
  margin: auto;
  background-color: $white;

  &.default-layout {
    padding-bottom: $slide-footer-height;

    // CSS for containers to hide the slidedown element
    > header,
    > section,
    > footer,
    > .container,
    > .bg-gray-light {
      z-index: 2;
      position: relative;
    }

    > header,
    > section,
    > footer,
    > .container {
      background-color: $white;
    }

    > .bg-gray-light {
      background-color: $gray-100;
    }
  }
}

.slidedown-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: $layout-max-width;
  min-height: $slide-footer-height;
  bottom: 0;
  background: $gray-100;
}

.homepage {
  .canvas-section {
    .container {
      pointer-events: auto;
    }
  }
  .code-review,
  .ruby {
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    height: 100%;
    min-height: 200px;
  }

  .code-review {
    background-image: url('~images/code-review.png');
  }
}

.ruby {
  background-image: url('~images/ruby.png');
}

.project-content {
  img {
    @extend .img-fluid;
  }
}

.project-detail-container {
  padding: 40px 0;
  margin-top: 40px;
  margin-bottom: 40px;

  &.section-border {
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(sm) {
    margin-top: 0px;
  }
}
