@mixin block($background-color: $red) {
  width: 38px;
  height: 2px;
  margin-left: 0;
  background-color: $background-color;
}

@mixin dashes($background-color: $red) {
  p {
    padding-left: 35px;
    position: relative;

    &::before {
      content: '';
      background-color: $background-color;
      height: 2px;
      left: 0;
      position: absolute;
      top: 12px;
      width: 20px;
    }
  }
}

@mixin montserrat($weight: $montserrat-regular) {
  font-family: $montserrat;
  font-weight: $weight;
}
