.smcx-embed {
  border: 0 !important;

  form {
    input,
    textarea {
      &.text,
      &.textarea {
        display: block;
        width: 100% !important;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: $white;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }

      &[type="submit"] {
        color: #df4040;
        background-color: $white;
        border: 1px solid #df4040;
        margin-bottom: 20px;
      }
    }

    textarea {
      height: 160px;
      resize: none;
    }
  }
}

.smcx-widget-footer {
  display: none !important;
}

// Customise container height to fit form
#hire-us-form {
  .smcx-embed {
    height: 880px;

    .smcx-iframe-container {
      height: 880px;
      margin-top: -100px !important;
    }
  }
}

#consult-form {
  .smcx-embed {
    height: 980px;

    .smcx-iframe-container {
      height: 980px;
      margin-top: -100px !important;
    }
  }
}
