.padded-section {
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding: $grid-gutter-width * 2.5 0;
  }
}

.dark-section {
  color: $white;
  background-color: $black;
}

.list-section {
  ul {
    margin-bottom: 0;
  }
}

.arrow-section {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -52px;
    left: 50%;
    margin-left: -100px;
    border-style: solid;
    border-width: 52px 100px 0 100px;
    border-color: $gray-100 transparent transparent transparent;
  }
}

.canvas-section {
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    pointer-events: none;
    z-index: 2;
  }
}

.diamond-section {
  width: 100%;

  .diamond-1,
  .diamond-2,
  .diamond-3,
  .diamond-4,
  .diamond-5,
  .diamond-6,
  .diamond-7,
  .diamond-8 {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 164px;
  }

  .diamond-1 {
    background-image: url('~images/home-diamonds/diamond-1.png');
  }

  .diamond-2 {
    background-image: url('~images/home-diamonds/diamond-2.png');
  }

  .diamond-3 {
    background-image: url('~images/home-diamonds/diamond-3.png');
  }

  .diamond-4 {
    background-image: url('~images/home-diamonds/diamond-4.png');
  }

  .diamond-5 {
    background-image: url('~images/home-diamonds/diamond-5.png');
  }

  .diamond-6 {
    background-image: url('~images/home-diamonds/diamond-6.png');
  }

  .diamond-7 {
    background-image: url('~images/home-diamonds/diamond-7.png');
  }

  .diamond-8 {
    background-image: url('~images/home-diamonds/diamond-8.png');
  }

  .diamond-row-2,
  .diamond-row-3 {
    margin-top: -78px;
  }
}

.section-hero {
  background-color: $gray-100;
  background-image: url('~images/bg-home.jpg');
  background-position: top;
  font-family: $montserrat-medium;
  min-height: 110vh;

  h1 {
    font-family: $montserrat-bold;
  }

  .hero-image {
    background-image: url('~images/home-hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
  }
}

.how-section {
  background-image: url('~images/home-bg-2.jpg');
  background-position: right center;
  color: $white;
}

.section-hero,
.how-section {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .dark-overlay {
    background-color: $black;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.section-platforms {
  background-color: $gray-100 !important;

  .subtext {
    font-family: $montserrat-semibold;
  }
}

.section-rails {
  h2 {
    font-family: $montserrat-bold;
  }

  .subtitle {
    font-family: $montserrat-medium;
  }
}

.step-img {
  display: block;
  width: 100%;
  height: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.portfolio-1 {
    background-image: url('~images/home-portfolio/12wbt.jpg');
  }

  &.portfolio-2 {
    background-image: url('~images/home-portfolio/tribe.jpg');
  }

  &.portfolio-3 {
    background-image: url('~images/home-portfolio/voome-weekly.jpg');
  }

  &.portfolio-4 {
    background-image: url('~images/home-portfolio/huggies.jpg');
  }

  &.portfolio-5 {
    background-image: url('~images/home-portfolio/nps.jpg');
  }

  &.portfolio-6 {
    background-image: url('~images/home-portfolio/realpetmatcher.jpg');
  }
}

.section-border {
  border-top: 1px solid $gray-smoke;
  border-bottom: 1px solid $gray-smoke;
  padding-bottom: 30px;

  &.border-red {
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 100px;
  }
}

#section-engagement {
  .table {
    border-radius: 5px;
    min-height: 100%;
  }
}

.jumbotron {
  p {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-down(sm) {
  .section-hero {
    background-image: url('~images/bg-home-mobile.jpg');
    // background-position: 75% 50%;
  }

  .diamond-section {
    .diamond-row-2,
    .diamond-row-3 {
      margin-top: -98px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .diamond-section {
    .diamond-row-2,
    .diamond-row-3 {
      margin-top: 0;
    }

    .diamond-2,
    .diamond-3,
    .diamond-4,
    .diamond-5,
    .diamond-6,
    .diamond-7,
    .diamond-8 {
      margin-top: -76px;
    }
  }
}

@media (max-width: 380px) {
  .diamond-section {
    .diamond-2,
    .diamond-3,
    .diamond-4,
    .diamond-5,
    .diamond-6,
    .diamond-7,
    .diamond-8 {
      margin-top: -94px;
    }
  }
}
