#section-service-options {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  table {
    th {
      border-bottom: 1px solid $black;
    }

    th,
    td {
      border-top: 1px solid $black;
      padding: 50px 0.75rem 50px 0.75rem;
    }
  }

  .benefit-list {
    @include dashes();

    &.green-dashes {
      p {
        &::before {
          background-color: $green-100;
        }
      }
    }
  }

  .bg-services-1 {
    background-image: url('~images/bg-services-mobile-1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bg-services-2 {
    background-image: url('~images/bg-services-mobile-2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .table-title {
    font-family: $montserrat-bold;
  }
}

#section-work-reasons {
  @include dashes($orange);
}

#section-testimonials {
  background-image: url('~images/bg-testimonials.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;

  .card {
    &.card-testimonial {
      background: transparent;
    }
  }
}

.section-hero {
  background-color: $gray-100;
  background-image: url('~images/bg-home-hero.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $montserrat-medium;

  h1 {
    font-family: $montserrat-bold;
    font-size: 2.625rem;
    font-weight: 600;
  }

  .hero-image {
    background-image: url('~images/home-hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
  }
}

#section-platforms {
  background-color: $gray-100 !important;

  .subtext {
    font-family: $montserrat-semibold;
  }
}

.section-rails {
  h2 {
    font-family: $montserrat-bold;
  }

  .subtitle {
    font-family: $montserrat-medium;
  }
}

.section-border {
  border-top: 1px solid $gray-smoke;
  border-bottom: 1px solid $gray-smoke;
  padding-bottom: 30px;

  &.border-red {
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }
}

// #section-engagement {
//   .table {
//     border-radius: 5px;
//     min-height: 100%;
//   }
// }

@include media-breakpoint-up(sm) {
  #section-service-options {
    background-image: url('~images/bg-get-started-services.png');
  }

  .section-border {
    padding-bottom: 100px;
  }
}

@include media-breakpoint-down(sm) {
  .section-hero {
    background-image: url('~images/bg-home-hero-mobile.jpg');
    // background-position: 75% 50%;
  }
}
