section {
  &.faqs {
    background-color: $gray-500 !important;
    color: $white;

    .accordion {
      .card {
        background-color: $gray-500;
        border-top: 1px solid $gray-300;
        border-bottom: 1px solid $gray-300;
        border-radius: 0;
        margin-top: -1px;

        .card-header {
          border: none;
          margin-bottom: 0;

          .btn {
            color: $white;
          }
        }
      }
    }
  }
}

.section-hero {
  background-color: $gray-100;
  background-image: url('~images/bg-home-hero-mobile.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-image {
    background-image: url('~images/home-hero.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    margin: 10px 0 0 0;
  }
}

#section-code-review-hero {
  background-image: url('~images/bg-code-review-hero.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-project-content {
  img {
    @extend .img-fluid;
  }

  .card .card-img-wrapper {
    height: auto;
  }

  .project-detail-container {
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;

    p {
      font-size: 16px;
    }
  }
}

#section-service-options {
  table {
    th {
      border-bottom: 1px solid $black;
    }

    th,
    td {
      border-top: 1px solid $black;
      padding: 50px 0.75rem 50px 0.75rem;
    }
  }

  .bg-services-1 {
    background-image: url('~images/bg-services-mobile-1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .bg-services-2 {
    background-image: url('~images/bg-services-mobile-2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .table-title {
    font-family: $montserrat-bold;
  }
}

#section-stuff-we-made {
  .content {
    margin-top: 10px;
    overflow: hidden;
    padding: 60px 0 0 0;
    position: relative;
  }

  .svg-wrapper {
    bottom: 0;
    height: 100%;
    margin-bottom: -10px;
    overflow: hidden;
    position: relative;
    right: 0;
    width: 100%;

    svg {
      height: auto;
    }
  }
}

#section-tech-header {
  img.img-responsive {
    max-width: 300px;
  }
}

#section-technology-list {
  h5 {
    font-family: $montserrat-bold;
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
}

#section-testimonials {
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 5rem;

  &.bg-green {
    background-image: url('~images/bg-testimonials-green.png');

    .card {
      color: $green-200;
    }
  }

  &.bg-red {
    background-image: url('~images/bg-testimonials-red.png');

    .card {
      color: $red;
    }
  }

  .card {
    background: transparent;

    p {
      font-family: $montserrat-medium;
      font-size: 22px;

      &.small {
        font-size: 16px;
      }
    }
  }
}

#section-work-reasons {
  @include dashes($orange-200);

  &.about-reasons {
    background-image: url('~images/bg-work-reasons.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.section-border {
  border-top: 1px solid $gray-smoke;
  border-bottom: 1px solid $gray-smoke;
  padding-bottom: 30px;

  &.border-red {
    border-top: 1px solid $red;
    border-bottom: 1px solid $red;
  }
}

#section-workshop-hero {
  background-image: url('~images/bg-product-dev-hero.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}

.cta-panel {
  background-color: #353933;
  background-image: url('~images/services/digital-workshop/bg-cta.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2,
  p {
    color: #fff;
  }
}

@include media-breakpoint-up(sm) {
  #section-service-options {
    background-image: url('~images/bg-get-started-services.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #section-stuff-we-made {
    .content {
      height: 500px;
      padding: 100px 0 90px 0;
    }

    .svg-wrapper {
      position: absolute;
      width: 50%;
    }
  }

  .section-border {
    padding-bottom: 100px;
  }

  .section-hero {
    background-image: url('~images/bg-home-hero.jpg');

    .hero-image {
      margin: 0;
      height: 650px;
    }
  }
}
