a {
  color: $red;

  &:hover,
  &:active,
  &:focus {
    color: rgba($red, 0.75);
  }
}

blockquote {
  border-left: 5px solid $gray-100;
  padding: 0 30px 0 30px;
}

h4 {
  font-size: 1.75rem;
  font-weight: 600;
}

hr {
  @include block();

  &.hr-blue {
    @include block($blue-100);
  }

  &.hr-green {
    @include block($green-100);
  }

  &.hr-orange {
    @include block($orange);
  }

  &.hr-thin {
    height: 1px;
    margin-top: -1px;
    opacity: 0.2;
    width: 100%;
  }

  &.hr-long {
    height: 0;
    width: 100%;
  }

  &.hr-white {
    @include block($white);
  }
}

strong {
  font-weight: 700;
}

.about-us-list {
  padding-left: 62px;
  list-style: none;

  li {
    position: relative;
    margin-bottom: $grid-gutter-width / 2;

    &::before {
      @include block();
      content: '';
      display: block;
      position: absolute;
      left: -62px;
      top: 10px;
    }

    &.red::before {
      background-color: $about-red;
    }

    &.green::before {
      background-color: $about-green;
    }

    &.blue::before {
      background-color: $blue-100;
    }
  }
}

.font-700 {
  font-weight: 700;
}

.font-500 {
  font-weight: 500;
}

.font-300 {
  font-weight: 300;
}

.hr-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($white, 0.65);

  hr {
    margin-bottom: 0;
  }
}

.project-detail-content {
  font-size: 0.9375rem;

  a {
    color: $blue-100;
  }

  strong {
    font-weight: 600;
  }
}

.text-hover-underline {
  position: relative;

  &::after {
    content: '';
    height: 7px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: rgba($white, 0.75);
    transition: 0.2s;
  }

  &:hover {
    color: $white;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

.text-sm {
  font-size: 0.9rem;
  font-weight: 300;
}

.text-md {
  font-size: 1.1rem;
  font-weight: 300;
}

.text-lg {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-xl {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.text-blue {
  color: $blue-100;
}

.text-gray {
  color: $gray-200;
}

.text-green {
  color: $green-100;
}

.text-green-dark {
  color: $green-200;
}

.text-orange {
  color: $orange;
}

.text-red {
  color: $red;
}

.text-red-dark {
  color: $red-300;
}

.text-white {
  color: $white;
}

.white-space-normal {
  white-space: normal;
}

@include media-breakpoint-down(sm) {
  .text-md {
    font-size: 1.25rem;
  }

  .text-xl {
    font-size: 3rem;
  }
}
