.tile {
  position: relative;
  padding-top: $grid-gutter-width;

  &:nth-child(2n) {
    padding-right: $grid-gutter-width / 2;
  }

  &:nth-child(3n) {
    padding-left: $grid-gutter-width / 2;
  }

  .tile-count {
    position: absolute;
    padding: 10px 15px;
    top: 0;
    left: 0;
    color: $white;
    background-color: $red-200;
  }

  h4 {
    font-size: 1.35rem;
    margin: $grid-gutter-width 0 $grid-gutter-width / 2;
  }

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    h4 {
      margin: 0 0 $grid-gutter-width / 2;
    }
  }
}

.portfolio-tile {
  border-radius: 0.25rem;
  display: block;
  position: relative;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    color: $white;
    text-decoration: none;
  }

  &.text-black {
    color: $black;
  }

  &.bg-voome,
  &.bg-move,
  &.bg-beautyheaven,
  &.bg-momentum {
    color: #212529;
  }

  .content {
    padding: $grid-gutter-width $grid-gutter-width 0 $grid-gutter-width;
  }

  .svg-container {
    width: 100%;
    height: 285px;
    overflow: hidden;
    pointer-events: none;

    .svg-wrapper {
      display: block;
      width: 160%;
      height: 400px;
      margin-top: -20px;

      svg {
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      .mobile-header {
        margin-left: -60px;
      }
    }
  }

  h4 {
    font-weight: normal;
  }
}

.notebox {
  padding: $grid-gutter-width * 1.5;
  background-color: $white;
  border-top: 2px solid $gray-smoke;
  border-bottom: 2px solid $gray-smoke;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    @include block($blue-100);
  }

  @include media-breakpoint-down(sm) {
    padding: $grid-gutter-width / 2;
  }
}

.gallery-tiles {
  .gallery-img {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;

    img {
      pointer-events: none;
    }
  }
}

.project-title {
  font-size: $font-size-base * 4.4;
  font-weight: 600;
  line-height: $font-size-base * 4.2;
  max-width: 500px;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base * 3.4;
    line-height: $font-size-base * 3.2;
  }
}

.post-image-preview,
.technology-image-preview {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.rounded {
  border-radius: 1.25rem !important;
}

.technology-image-preview {
  height: 140px;
  width: 140px;
}

.macy-container,
#macy-container {
  .post-image-preview {
    min-height: 200px;
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .technology-image-preview {
    margin: auto;
  }
}
