@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome.scss';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~aos/dist/aos.css';
@import 'animations';
@import 'backgrounds';
@import 'buttons';
@import 'cards';
@import 'carousel';
@import 'footer';
@import 'headers';
@import 'layout';
@import 'modals';
@import 'nav';
@import 'payment-form';
@import 'sections';
@import 'text';
@import 'tiles';
@import 'accordion';
@import 'typeform';
@import 'pages/index';
