---
layout: default
title: Examples of work done by Red Ant
meta:
  keywords: Portfolio
  description: Portfolio of Red Ant
excerpt:
  short: Portfolio of our work
---
<div class="portfolio static-page">
  <div class="jumbotron no-margin">
    <h1 class="bordered">Stuff we&rsquo;ve made</h1>
  </div>

  <div class="masonry-full-width">
    <ul id="portfolio" class="container">
      {% for work in site.categories.portfolio %}
        {% include tile-portfolio.html %}
      {% endfor %}
    </ul>
  </div>
</div>
