// Campaign
.campaign {
  .code-review-link {
    display: none !important;
  }

  .contact-us {
    border-left: none !important;
  }

  ul {
    &.list-check {
      list-style: none;
      padding-left: 0;

      li {
        padding-left: 1.5rem;
        position: relative;
        margin-bottom: 0.5rem;

        &::before {
          content: '\f00c';
          font-family: FontAwesome, sans-serif;
          color: $red;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  // responsive text
  @include media-breakpoint-down(sm) {
    .text-xl {
      font-size: 2.4rem;
    }

    h2,
    .h2 {
      font-size: 1.6rem;
    }

    h3,
    .h3 {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    h4,
    .h4 {
      font-size: 1.3rem;
      line-height: 1.4rem;
    }
  }
}

// Style
.digital-product-development {
  .anchor {
    position: relative;
    top: -110px;

    @include media-breakpoint-up(md) {
      top: -80px;
    }
  }

  .hero,
  .intro {
    @include media-breakpoint-only(md) {
      padding-bottom: 400px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      padding-top: 3rem !important;
      padding-bottom: 355px !important;

      &::before {
        width: 345px;
        height: 345px;
        bottom: 10px;
        right: 50%;
        margin-right: -175px;
      }
    }

    @include media-breakpoint-up(md) {
      min-height: 670px;

      .btn-lg {
        font-size: 1.7rem;
      }
    }
  }

  section {
    &.our-clients {
      border-top: 1px solid $gray-200;
    }

    &.how-it-works {
      background-color: $gray-100;
    }

    &.about-redant {
      background-color: $gray-100;
    }
  }
}
