.padded-section {
  padding: $grid-gutter-width * 6 0;

  @include media-breakpoint-down(sm) {
    padding: $grid-gutter-width * 2 0;
  }
}

.canvas-section {
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    pointer-events: none;
    z-index: 2;
  }

  .parallax-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .parallax-layer {
      width: 100%;
      height: 100%;

      .step-img {
        margin: auto;
      }

      .parallax-content {
        width: 140%;
        height: 140%;
        margin-top: -10%;
        margin-left: -10%;
      }

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

#home {
  padding: 30% 0;
}

.step-img {
  display: block;
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.step-1 {
    background-image: url('/images/steps/step1-coffee.png');
  }

  &.step-2 {
    background-image: url('/images/steps/step2-books.png');
  }

  &.step-3 {
    background-image: url('/images/steps/step3-robot.png');
  }

  &.step-4 {
    background-image: url('/images/steps/step4-blocks.png');
  }

  &.step-5 {
    background-image: url('/images/steps/step5-clock.png');
  }

  &.step-6 {
    background-image: url('/images/steps/step6-cone.png');
  }
}
