---
layout: amp
amp_images: true
---
<!doctype html>
<html amp lang="en">
  {% include amp-head.html %}

  <body class="{{ page.class }}">
    <div class="main-layout">
      {% include nav.html %}

      <section class="project-contentpt-3 pb-5 text-md">
        <div class="container">
          <div class="row mb-4">
            <div class="col-12 mt-5 pt-5">
              <h1 class="project-title pb-2">{{ page.title }}</h1>
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              {{ content }}
            </div>

            <div class="col-md-4">
              <hr class="hr-blue my-0">
              {% if page.meta.description.size > 1 %}
                <div class="project-detail-container section-border">
                  <p>{{ page.meta.description }}</p>
                </div>
              {% endif %}
              {% include amp-gallery.html images=page.images slug=page.slug %}
            </div>
          </div>
        </div>
      </section>
      <section class="pb-5 d-none d-sm-block" data-read-more></section>

      {% include amp-footer.html %}
    </div>
  </body>
</html>
