<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{ page.class }}">
    <div class="main-layout default-layout">
      {% include nav.html %}
      <header id="section-service-intro" class="dark-header default-padding bg-code-review ">
        <div class="container">
          <div class="row">
            <div class="col-md-9 py-3">
              <h1 class="text-xl py-3">{{ page.title }}</h1>
              <hr />
              <p class="text-lg">
                {{ page.subtitle_1 }}
              </p>
              <p class="text-lg">
                {{ page.subtitle_2 }}
              </p>
              <div class="row text-center pt-4">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <a
                    class="btn btn-primary w-100 py-2"
                    href="/free-initial-consult-code-review/"
                  >
                    <i class="fa fa-comments"></i> {{ page.cta_button_title }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="bg-gray-light py-5 text-md">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="h3 mb-3">You might be wondering:</h2>
              <ul>
                {% for item in page.bulletpoints%}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-8 d-flex align-items-stretch">
              <section class="card w-100 card--review card--level1">
                <div class="card-header">
                  <h2 class="h4 mb-0 card-title">{{ page.service_title }}</h2>
                </div>
                <div class="card-body d-flex align-items-start flex-column">
                  <p class="my-1">
                    <span class="card-label">What we’ll discuss:</span>
                  </p>
                  <ul>
                    {% for item in page.service_bulletpoints%}
                    <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                  <p class="mt-auto">
                    <span class="card-label">Time:</span> about {{ page.time }}
                  </p>
                  <p class="mb-0">
                    <span class="card-label">Cost:</span> {{ page.cost }}
                  </p>
                </div>
                <div class="card-footer">
                  <a
                    class="typeform-share button btn-md py-3"
                    href="https://red-ant.typeform.com/to/ZQg9nb?source_page={{page.slug}}"
                    data-mode="popup"
                    data-hide-headers="true"
                    data-hide-footer="true"
                    data-submit-close-delay="5"
                    target="_blank"
                    >{{ page.cta_button_title }}
                  </a>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>

      {% if content.size > 1 %}
      <section class="bg-gray-light py-5 text-md">
        <div class="container">
          <div class="row">
            <div class="col-12">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
      {% endif %}

      <section class="py-5">
        <div class="container">
          <h2 class="font-weight-normal mb-5 text-center">
            Relevant case study project
          </h2>
          <div id="macy-container" data-columns="1" data-columns-small="1">
            {% for slug in page.projects %} {% assign pages = site.pages |
            where: 'slug', slug %} {% for page in pages %}
            <div
              id="section-card-{{ page.title | downcase | replace: ' ', '-' }}"
              class="ga-section card mb-1"
            >
              <a
                href="{{ page.dir }}"
                class="portfolio-tile bg-gray bg-{{ page.theme }}"
              >
                <div class="content mb-2">
                  <h2>{{ page.title }}</h2>
                  <div class="hr-wrapper">
                    <hr class="hr-white" />
                  </div>
                  <h3 class="h5 my-4">{{ page.tagline }}</h3>
                  <p>{{ page.description }}</p>
                  <p>
                    Click for more details
                    <i class="fa fa-chevron-right ml-1"></i>
                  </p>
                </div>
                <div class="svg-container">
                  <div class="svg-wrapper">
                    {% if page.project_type == 'mobile' %} {% include
                    svg/mobile-project-header.svg slug=page.slug
                    title=page.title %} {% else %} {% include
                    svg/project-header.svg slug=page.slug title=page.title
                    img_height=page.desktop_img_height %} {% endif %}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %} {% endfor %}
          </div>
        </div>
      </section>

      <script>
        (function() {
          var qs,
            js,
            q,
            s,
            d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = 'typef_orm_share',
            b = 'https://embed.typeform.com/';
          if (!gi.call(d, id)) {
            js = ce.call(d, 'script');
            js.id = id;
            js.src = b + 'embed.js';
            q = gt.call(d, 'script')[0];
            q.parentNode.insertBefore(js, q);
          }
        })();
      </script>

      {% include footer.html %} {% include slidedown-container.html %} {%
      include scripts.html %}
    </div>
  </body>
</html>
