<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="main-layout">
      {% include nav.html %}
      <header
        id="section-tech-header"
        class="ga-section bg-gray-light default-padding bg-technology-detail"
      >
        <div class="container py-5 py-sm-0">
          <div class="row d-block d-sm-none">
            <div class="col text-center">
              <img
                class="img-responsive rounded-circle w-50"
                src="{{ page.image }}"
                alt="{{ page.title }}"
              />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-6">
              <h1 class="pb-4">{{ page.title }}</h1>
              <h5 class="subheading">{{ page.subtitle}}</h5>
              <div class="col p-md-0">
                {{ page.description }}
              </div>

              <div class="row text-center pt-4">
                <a
                  class="btn btn-primary rounded-pill d-block d-sm-inline mx-2 mb-2 mb-sm-0"
                  href="/free-initial-consult-code-review/"
                >
                  Free initial consult
                </a>

                <a
                  class="btn btn-default rounded-pill d-block d-sm-inline mx-2"
                  href="/ruby-on-rails-code-review/"
                >
                  Get started
                </a>
              </div>
            </div>

            <div class="col-sm-6 d-none d-sm-block text-center">
              <img
                class="img-responsive rounded-circle"
                src="{{ page.image }}"
                alt="{{ page.title }}"
                data-aos="fade-left"
                data-aos-once="true"
              />
            </div>
          </div>
        </div>
      </header>

      {% if page.content != "" %}
      <section
        id="section-how-we-do-it"
        class="ga-section navbar-aos default-padding how-section"
      >
        <div class="container py-5 py-sm-0">
          <div class="row">
            <div class="col">
              <h3>{{ page.how_title }}</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <p>{{ content }}</p>
            </div>
            <div class="col-md-4">
              <ul class="about-us-list">
                {% for bulletpoint in page.how_bulletpoints %}
                <li
                  class="red"
                  data-aos="fade-up"
                  data-aos-once="true"
                  data-aos-delay="{{ index }}00"
                >
                  {{ bulletpoint }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>
      {% endif %}

      <div class="container">
        <div class="row">
          <div class="col">
            <hr class="hr-long bg-black" />
          </div>
        </div>
      </div>

      {% include section-companies.html %}

      <section
        id="section-engagement"
        class="ga-section section-border bg-gray-light default-padding"
      >
        <p class="h1 text-center pb-4">Engagement Models</p>
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="px-4 py-5 tile bg-white table rounded-sm">
                <h3 class="mt-0 text-red-dark">New Builds</h3>
                We create, design and build new apps and platforms. We can help
                you design for scale, as well as strategy or product support as
                you need it. We'll take responsibility for delivering your
                project.We create, design and build new apps and platforms. We
                can help you design for scale, as well as strategy or product
                support as you need it. We'll take responsibility for delivering
                your project.
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="px-4 py-5 tile bg-white table rounded-sm">
                <h3 class="mt-0 text-red-dark">Existing Apps</h3>
                We can also take over an existing project. Often companies need
                a bit more experience, developer resourcing, or help in
                completing certain features before they launch. Or you might
                need more development tasks done to your existing platform.
              </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <div class="px-4 py-5 tile bg-white table rounded-sm">
                <h3 class="mt-0 text-red-dark">Devops and Platform Support</h3>
                We also provide a comprehensive Devops and Platform Support
                service. We'll take on responsibility for monitoring and
                providing technical support as part of an ongoing plan that we
                can design with you.
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="default-padding">
        <div class="container">
          <h3 class="mb-5 text-center">
            Some of our {{ page.title }} projects
          </h3>
          <div id="macy-container" data-columns="2" data-columns-small="1">
            {% for slug in page.projects %} {% assign pages = site.pages |
            where: 'slug', slug %} {% for page in pages %}
            <div
              id="section-card-{{ page.title | downcase | replace: ' ', '-' }}"
              class="ga-section card mb-1"
            >
              <a
                href="{{ page.dir }}"
                class="portfolio-tile bg-gray bg-{{ page.theme }} text-black"
              >
                <div class="content mb-2">
                  <h2 class="text-{{ page.theme }}">{{ page.title }}</h2>
                  <p class="my-4 tagline">{{ page.tagline }}</p>
                  <p>{{ page.description }}</p>
                </div>
                <div class="svg-container">
                  <div class="svg-wrapper">
                    {% if page.project_type == 'mobile' %} {% include
                    svg/preview-mobile.svg slug=page.slug title=page.title %} {%
                    else %} {% include svg/preview-left.svg slug=page.slug
                    title=page.title img_height=page.desktop_img_height %} {%
                    endif %}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %} {% endfor %}
          </div>
        </div>
      </section>

      {% include footer.html %} {% include scripts.html %}
    </div>
  </body>
</html>
