[data-aos='platform-svg'] {
  .square {
    transform: translate(0, 0);
    transition-duration: 1.2s;
    transition-property: transform;
  }

  &.aos-animate {
    .one {
      transform: translate(0, -60px);
    }

    .two {
      transform: translate(0, -30px);
    }

    .four {
      transform: translate(0, 30px);
    }

    .five {
      transform: translate(0, 60px);
    }
  }
}
