.carousel {
  max-width: 100%;
  overflow: hidden;

  .slide {
    position: relative;
    width: 100%;
    color: $white;
    overflow: hidden;

    &.mb12wbt {
      background-color: $mb12wbt-bg;
    }

    &.huggies {
      background-color: $huggies-bg;
    }

    &.plando {
      background-color: $plando-bg;
    }

    .content {
      position: relative;
      height: 550px;
      z-index: 2;
    }

    .slide-img-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -10px;
      overflow: hidden;
      z-index: 1;
    }
  }

  @include media-breakpoint-down(sm) {
    .slide {
      .content {
        height: 900px;
      }
    }
  }
}
