.tile {
  position: relative;
  padding: 2 * $grid-gutter-width $grid-gutter-width;
  border-left: 2px solid $red-light;

  .tile-count {
    position: absolute;
    padding: 10px 15px;
    top: 0;
    left: 0;
    color: $white;
    background-color: $red-light;
  }

  h4 {
    margin: $grid-gutter-width / 2 0;
  }

  @include media-breakpoint-down(sm) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    border: none;
  }

  @include media-breakpoint-only(md) {
    &:nth-child(2n) {
      border-right: 2px solid $red-light;
    }
  }

  @include media-breakpoint-up(lg) {
    &:nth-child(3n) {
      border-right: 2px solid $red-light;
    }
  }
}
